@using Angor.Shared.Models
@using Angor.Shared.Services
@using Angor.Client.Services
@using Angor.Client.Storage

@inject ILogger<PasswordComponent> Logger;
@inject INetworkService networkService;
@inject IEncryptionService _encryptionService;
@inject IWalletStorage _walletStorage;
@inject IPasswordCacheService _passwordCacheService;
@inject ModalScrollService ScrollService

@if (walletPasswordConfirmModal)
{
    <div class="modal-wrapper modal-wrapper-top">
        <div class="modal fade show d-block" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modern-modal">
                    <div class="modal-header border-0 pb-0">
                        <div class="d-flex align-items-center">
                            <Icon IconName="lock" Height="32" Width="32" class="me-2" />
                            <h5 class="modal-title">Confirm Wallet Password</h5>
                        </div>
                        <button class="btn-close-custom" @onclick="HidePassword">
                            <Icon IconName="close-circle" Height="24" Width="24" />
                        </button>
                    </div>

                    <div class="modal-body modal-body-scroll py-4">
                        <div class="mb-3">
                            <label for="passwordInput">Enter password:</label>
                            <div class="input-group mt-2">
                                <input id="passwordInput" 
                                       type="@passwordInputType" 
                                       class="form-control" 
                                       placeholder="Password" 
                                       data-cy="password-enter-for-send" 
                                       @bind="_passwordCacheService.Data" 
                                       @bind:event="oninput"
                                       @onkeypress="@(async e => { if(e.Key is "Enter" or "NumpadEnter") await SubmitInternal(); })"
                                       />
                                <button class="btn btn-border" type="button" @onclick="TogglePasswordVisibility">
                                    @if (passwordToggleText == "Show")
                                    {
                                        <Icon IconName="visibility-off" Height="24" Width="24" />
                                    }
                                    else
                                    {
                                        <Icon IconName="visibility" Height="24" Width="24" />
                                    }
                                </button>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label>Remember password for:</label>
                            <div class="mt-2 radio-options-container">
                                <div class="form-check radio-option-item">
                                    <input class="form-check-input" type="radio" name="cacheOptions" id="cache1Min" value="1" @onchange='() => HandleCacheSelection("1")' checked="@(SelectedRadioValue == "1")">
                                    <label class="form-check-label" for="cache1Min">
                                        1 Minute
                                    </label>
                                </div>
                                <div class="form-check radio-option-item">
                                    <input class="form-check-input" type="radio" name="cacheOptions" id="cache5Min" value="5" @onchange='() => HandleCacheSelection("5")' checked="@(SelectedRadioValue == "5")">
                                    <label class="form-check-label" for="cache5Min">
                                        5 Minutes
                                    </label>
                                </div>
                                <div class="form-check radio-option-item">
                                    <input class="form-check-input" type="radio" name="cacheOptions" id="cache10Min" value="10" @onchange='() => HandleCacheSelection("10")' checked="@(SelectedRadioValue == "10")">
                                    <label class="form-check-label" for="cache10Min">
                                        10 Minutes
                                    </label>
                                </div>
                                <div class="form-check radio-option-item">
                                    <input class="form-check-input" type="radio" name="cacheOptions" id="cacheActive" value="active" @onchange='() => HandleCacheSelection("active")' checked="@(SelectedRadioValue == "active")">
                                    <label class="form-check-label" for="cacheActive">
                                        Remain unlocked while active
                                    </label>
                                </div>
                            </div>
                        </div>

                        @if (!string.IsNullOrEmpty(walletPasswordError))
                        {
                            <div class="text-danger">@walletPasswordError</div>
                        }

                    </div>

                    <div class="modal-footer border-0 pt-0">
                        <button class="btn btn-border-success" @onclick="SubmitInternal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private bool walletPasswordConfirmModal;
    private string passwordInputType = "password";
    private string passwordToggleText = "Show";
    private string? walletPasswordError = string.Empty;

    private int SelectedCacheDuration { get; set; } = 1; 
    private string SelectedRadioValue { get; set; } = "1";

    public Func<Task> Submit { get; set; }

    private void HandleCacheSelection(string value)
    {
        SelectedRadioValue = value;
        if (value == "active")
        {
            _passwordCacheService.UnlockWhileActive = true;
            SelectedCacheDuration = 1; 
        }
        else
        {
            _passwordCacheService.UnlockWhileActive = false;
            SelectedCacheDuration = int.Parse(value);
        }
    }

    public async Task SubmitInternal()
    {
        if (!await CheckPassword())
        {
            return;
        }

        HidePassword();

        _passwordCacheService.SetTimer(TimeSpan.FromMinutes(SelectedCacheDuration));

        await Submit();
    }

    public async void ShowPassword(Func<Task> submit)
    {
        walletPasswordConfirmModal = true;
        await ScrollService.LockScrollAsync();
        Submit = submit;

        StateHasChanged();
    }

    public bool HasPassword()
    {
        _passwordCacheService.ResetLastSet();

        return !string.IsNullOrEmpty(_passwordCacheService.Data);
    }

    public async void HidePassword()
    {
        walletPasswordConfirmModal = false;
        walletPasswordError = null;
        await ScrollService.UnlockScrollAsync();
        StateHasChanged();
    }

    public async void ClearPassword()
    {
        _passwordCacheService.TryClear();
        walletPasswordConfirmModal = false;
        walletPasswordError = null;
        await ScrollService.UnlockScrollAsync();
    }

    public async Task<bool> CheckPassword()
    {
        if (!HasPassword())
        {
            walletPasswordError = "Specify the password";
            StateHasChanged();
            return false;
        }

        if (!(await IsPasswordValid()))
        {
            walletPasswordError = "Invalid password";
            StateHasChanged();
            return false;
        }

        return true;
    }

    public async Task<bool> IsPasswordValid()
    {
        if (string.IsNullOrEmpty(_passwordCacheService.Data))
        {
            return false;
        }

        var wallet = _walletStorage.GetWallet();
        var walletData = await _encryptionService.DecryptData(wallet.EncryptedData, _passwordCacheService.Data);

        if (string.IsNullOrEmpty(walletData))
        {
            return false;
        }

        walletData = null;

        _passwordCacheService.ResetLastSet();

        return true;
    }

    private void TogglePasswordVisibility()
    {
        if (passwordInputType == "password")
        {
            passwordInputType = "text";
            passwordToggleText = "Hide";
        }
        else
        {
            passwordInputType = "password";
            passwordToggleText = "Show";
        }
    }

    public async Task<WalletWords?> TryGetWalletAsync()
    {
        if (string.IsNullOrEmpty(_passwordCacheService.Data))
        {
            return null;
        }

        return await GetWalletAsync();
    }

    public async Task<WalletWords> GetWalletAsync()
    {
        if (string.IsNullOrEmpty(_passwordCacheService.Data)) throw new ArgumentNullException();

        _passwordCacheService.ResetLastSet();

        var wallet = _walletStorage.GetWallet();
        var walletData = await _encryptionService.DecryptData(wallet.EncryptedData, _passwordCacheService.Data);
        var words = WalletWords.ConvertFromString(walletData);
        return words;
    }
}
