@page "/browse"
@using Angor.Client.Services
@using Angor.Shared.Models
@using Angor.Shared.Services
@using Nostr.Client.Keys
@using Nostr.Client.Messages
@using System.Text.Json
@using Angor.Client.Models
@using Angor.Client.Storage
@inject ICacheStorage SessionStorage;
@inject NavigationManager NavigationManager
@inject IRelayService _RelayService
@inject IIndexerService _IndexerService

<div class="container my-4">
    <h1>Browse Projects</h1>
    
    <NotificationComponent @ref="notificationComponent"/>

    <div class="row">
        <div class="col">
			
            <!-- Search Section -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter search query" id="searchQuery" @bind="searchQuery">
                <button class="btn btn-primary" type="button" @onclick="FindProject" disabled="@findInProgress">Find</button>
            </div>
            
            @if (findInProgress)
            {
                <div class="d-flex justify-content-center">
                    <div class="loader"></div>
                </div>
            }

            <!-- Search Result -->
            @if (findProject != null)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        @if (SessionStorage.IsProjectInStorageById(findProject.ProjectIdentifier))
                        {
                            var project = SessionStorage.GetProjectById(findProject.ProjectIdentifier);
                            if (project?.Metadata != null)
                            {
                                <h3 class="card-title">@project.Metadata.Name</h3>
                                <p class="card-subtitle">@project.Metadata.About</p>
                                <hr>
                            }
                        }
                        else
                        {
                            <p class="text-warning-emphasis">Project not found in any relay!</p>
                        }
                        <p>
                            Project ID:@findProject.ProjectIdentifier
                            <br/>
                            Nostr ID  :@(NostrPublicKey.FromHex(findProject.NostrPubKey).Bech32)
                        </p>
                        <button @onclick="() => ViewProjectDetails(findProject.ProjectIdentifier)" class="btn btn-primary card-">View</button>

                    </div>
                </div>
            }
            
            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary my-3" @onclick="SearchProjects">Fetch The Last 20 Projects</button>
            </div>

            <!-- List of projects -->
            @if (searchInProgress)
            {
                <div class="d-flex justify-content-center">
                    <div class="loader"></div>
                </div>
            }
            else
            {
                @if (projects.Count == 0)
                {
                    <div class="d-flex justify-content-center">
                        <p>No projects found.</p>
                    </div>
                }
                else
                {
                    foreach (var indexerData in projects.OrderByDescending(project => project.CreatedOnBlock))
                    {
                        <div class="card mb-3">
                            @if (!nostrSearchInProgress && SessionStorage.IsProjectInStorageById(indexerData.ProjectIdentifier))
                            {
                                var project = SessionStorage.GetProjectById(indexerData.ProjectIdentifier);
                                if (project?.Metadata?.Banner != null)
                                {
                                    <div class="card-header overflow-hidden">
                                        <img class="card-img-top" src="@project.Metadata.Banner" alt=""/>
                                    </div>
                                }
                            }

                            <div class="card-body">
                                @if (nostrSearchInProgress)
                                {
                                    <div class="loader-small"></div>
                                }
                                else
                                {
                                    @if (SessionStorage.IsProjectInStorageById(indexerData.ProjectIdentifier))
                                    {
                                        var project = SessionStorage.GetProjectById(indexerData.ProjectIdentifier);
                                        if (project?.Metadata != null)
                                        {
                                            <h3 class="card-title">@project.Metadata.Name</h3>
                                            <p class="card-subtitle">@project.Metadata.About</p>
                                            <hr>
                                        }
                                    }
                                    else
                                    {
                                        <p class="text-warning-emphasis">Project not found in any relay!</p>
                                    }
                                }
                                <p>
                                    Project ID:@indexerData.ProjectIdentifier
                                    <br/>
                                    Nostr ID  :@(NostrPublicKey.FromHex(indexerData.NostrPubKey).Bech32)
                                </p>
                                <button @onclick="() => ViewProjectDetails(indexerData.ProjectIdentifier)" class="btn btn-primary card-">View</button>
                            </div>
                        </div>
                    }
                }
            }
            
          
        </div>
    </div>
</div>

@code {
    NotificationComponent notificationComponent;
    private string searchQuery;
    bool searchInProgress = false;
    bool nostrSearchInProgress;
    bool findInProgress = false;

    ProjectIndexerData? findProject = null;

    private List<ProjectIndexerData> projects = new();

    protected override async Task OnInitializedAsync()
    {
        projects = SessionStorage.GetProjectIndexerData() ?? new();
    }

    private async Task FindProject()
    {
        findProject = projects.FirstOrDefault(_ => _.ProjectIdentifier == searchQuery);

        if (findProject != null)
        {
            return;
        }

        findInProgress = true;

        findProject = await _IndexerService.GetProjectByIdAsync(searchQuery);

        if (findProject != null)
        {
            _RelayService.RequestProjectCreateEventsByPubKey(HandleProjectEvents(),
                StateHasChanged, 
            new[] { findProject.NostrPubKey });
        }

        findInProgress = false;
    }

    private async Task SearchProjects()
    {
        searchInProgress = true;
        nostrSearchInProgress = true;
        
        var blockchainProjects = await _IndexerService.GetProjectsAsync(null, 20);
        
        var projectsNotInList = blockchainProjects
            .Where(blockchainProject => projects.All(_ => _.ProjectIdentifier != blockchainProject.ProjectIdentifier))
            .ToList();

        if (projectsNotInList.Any())
        {
            projects.AddRange(projectsNotInList.ToArray());
            SessionStorage.SetProjectIndexerData(projects);

            var projectsForLookup = projectsNotInList
                .Where(_ => _.NostrPubKey != null) //For old projects in the indexer
                .Select(_ => _.NostrPubKey)
                .ToArray();

            if (projectsForLookup.Any())
                _RelayService.RequestProjectCreateEventsByPubKey(HandleProjectEvents(),
                    () =>
                {
                    nostrSearchInProgress = false;
                    StateHasChanged();
                },
                projectsForLookup);

            StateHasChanged();
        }

        searchInProgress = false;
    }

    private Action<NostrEvent> HandleProjectEvents()
    {
        return e =>
        {
            var projectIndexerData = projects.FirstOrDefault(x => x.NostrPubKey == e.Pubkey);

            if (projectIndexerData == null && findProject?.NostrPubKey == e.Pubkey)
            {
                projectIndexerData = findProject;
            }

            switch (e)
            {
                case { Kind: NostrKind.Metadata }:
                  
                    var nostrMetadata = JsonSerializer.Deserialize<ProjectMetadata>(e.Content, Angor.Shared.Services.RelayService.settings);
                    if (projectIndexerData != null)
                    {
                        var project = SessionStorage.GetProjectById(projectIndexerData.ProjectIdentifier);
                        if (project != null)
                        {
                            project.Metadata = nostrMetadata;
                            SessionStorage.StoreProject(project);   
                        }
                    }
                    
                    break;

                case { Kind: NostrKind.ApplicationSpecificData }:
                    
                    var projectInfo = JsonSerializer.Deserialize<ProjectInfo>(e.Content, Angor.Shared.Services.RelayService.settings);
                    if (projectInfo != null && projectIndexerData != null)
                    {
                        if (!SessionStorage.IsProjectInStorageById(projectInfo.ProjectIdentifier))
                        {
                            SessionStorage.StoreProject(new Project { ProjectInfo = projectInfo, CreationTransactionId = projectIndexerData.TrxId });
                        }
                    }

                    break;
            }
        };
    }

    private void ViewProjectDetails(string projectIdentifier)
    {
        if (SessionStorage.IsProjectInStorageById(projectIdentifier))
        {
            NavigationManager.NavigateTo($"/view/{projectIdentifier}");
        }
        else
        {
            notificationComponent.ShowNotificationMessage("The project was not loaded from the relay yet");   
        }
    }
}