@page "/invest/{ProjectId}"
@using Angor.Shared
@using Angor.Client.Storage
@using Angor.Shared.Models
@using Blockcore.NBitcoin
@using Angor.Client.Services
@using Angor.Shared.ProtocolNew
@using Blockcore.NBitcoin.DataEncoders
@using JSException = Microsoft.JSInterop.JSException
@using Money = Blockcore.NBitcoin.Money
@using Transaction = Blockcore.Consensus.TransactionInfo.Transaction
@using Angor.Shared.Services
@using Nostr.Client.Keys
@using System.Diagnostics
@using Angor.Client.Models

@inject IJSRuntime JS

@inherits BaseComponent

@inject ILogger<Invest> _Logger;
@inject IDerivationOperations _derivationOperations
@inject IClientStorage storage;
@inject ICacheStorage SessionStorage;
@inject IWalletOperations _WalletOperations

@inject ISignService _SignService

@inject IInvestorTransactionActions _InvestorTransactionActions

@if (!hasWallet)
{
    NavigationManager.NavigateTo($"/wallet");
    return;
}

@if (invested)
{
    <p>You already invested.</p>
    return;
}

@if (founder)
{
    <p>You are the founder.</p>
    return;
}

@if(project == null)
{
    <p>The project was not found.</p>
    return;
}

<div class="container py-3">
    <h1 class="mb-4">Investment Page</h1>
    <p>Here is a small explanation of the project. You can <a href="view/@ProjectId">view more details about the project here</a>.</p>
    
    <p>ProjectId: @ProjectId</p>
    <p>Target amount: @project.ProjectInfo.TargetAmount BTC</p>
    <p>Starting in: @project.ProjectInfo.StartDate.ToString("dd/MM/yyyy")</p>

    <NotificationComponent @ref="notificationComponent" />
    <PasswordComponent @ref="passwordComponent" />

    @if(project is not InvestorProject investorProject)
    {
        <div class="card">
            <div class="card-body">
                <EditForm Model="Investment" OnValidSubmit="InvestFundsAndCheckPassword">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="investmentAmount">Investment Amount</label>
                        <InputNumber class="form-control" id="investmentAmount" @bind-Value="@Investment.InvestmentAmount" @oninput="UpdateStagesBreakdown" />
                    </div>

                  @*   <div class="form-check">
                        <InputCheckbox class="form-check-input" id="isSeeder" @bind-Value="@Investment.IsSeeder" disabled="@(!IsSeederTimePassed)" />
                        <label class="form-check-label" for="isSeeder">
                            Do you want to invest as a Seeder?
                        </label>
                    </div>

                    @if (!IsSeederTimePassed)
                    {
                        <div class="alert alert-info mt-2">
                            <strong>Seeder Requirements:</strong> Here are the requirements for a Seeder...
                        </div>
                    } *@

                    <button type="submit" class="btn btn-primary mt-3" disabled="@buildSpinner">
                        @if (buildSpinner)
                        {
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span>Building trx...</span>
                        }
                        else
                        {
                            <span>Next</span>
                        }
                    </button>
                </EditForm>
            </div>
        </div>

        @if (showCreateModal)
        {
            <!-- Confirmation Modal -->
            <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0, 0, 0, 0.5)">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmation</h5>
                            <button type="button" class="btn-close" @onclick="() => showCreateModal = false" disabled="@investSpinner"></button>
                        </div>
                        <div class="modal-body modal-body-scroll">
                            <p class ="mb-1"><strong>Project Identifier:</strong> @project.ProjectInfo.ProjectIdentifier</p>
                            <p class="mb-1"><strong>Founder Key:</strong> @project.ProjectInfo.FounderKey.Substring(0, 10)...</p> <!-- Display only the first 10 characters -->

                            <p class="mb-1"><strong>Target amount:</strong> @project.ProjectInfo.TargetAmount @network.CoinTicker</p>

                            <p class="mb-1"><strong>Start date:</strong> @project.ProjectInfo.StartDate.ToString("dd/MM/yyyy") in @((project.ProjectInfo.StartDate - DateTime.Now).Days) days</p>
                            <p class="mb-1"><strong>Expiry date:</strong> @project.ProjectInfo.ExpiryDate.ToString("dd/MM/yyyy") in @((project.ProjectInfo.ExpiryDate - DateTime.Now).Days) days</p>
                            <p class="mb-1"><strong>Penalty days:</strong> @project.ProjectInfo.PenaltyDays days</p>

                            <p class="mb-1"><strong>Miner fee:</strong> @Money.Satoshis(signedTransaction?.TransactionFee ?? 0).ToUnit(MoneyUnit.BTC) @network.CoinTicker</p>
                            <p class="mb-1"><strong>Angor fee:</strong> @signedTransaction?.Transaction.Outputs.First().Value.ToUnit(MoneyUnit.BTC) @network.CoinTicker</p>

                            <hr>

                            <div class="mb-3">
                                <label for="feeRange" class="form-label">Feerate for @feeData.SelectedFeeEstimation.Confirmations blocks is @feeData.SelectedFeeEstimation.FeeRate sats</label>
                                <input type="range" class="form-range" id="feeRange" @bind="feeData.FeePosition" @oninput="FeeRangeChanged" min="@feeData.FeeMin" max="@feeData.FeeMax">
                            </div>

                            <hr>

                            <h6 class="mt-3 mb-2">Stages</h6>
                            @{
                                int index = 0;
                                @foreach (var stage in project.ProjectInfo.Stages)
                                {
                                    <div style="border-top: 1px solid #dee2e6; padding-top: 10px; margin-top: 10px; font-size: 0.85em;">
                                        <p class="mb-1"><strong>Stage amount:</strong> @StagesBreakdown[index++].Amount BTC - @stage.AmountToRelease % </p>
                                        <p class="mb-1"><strong>Stage date:</strong> @stage.ReleaseDate.ToString("dd/MM/yyyy") - @((stage.ReleaseDate - project.ProjectInfo.StartDate).Days) days after project starts </p>
                                    </div>
                                }
                            }
                            <hr>

                            <p class="mt-3">Are you sure you want to continue?</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @onclick="() => showCreateModal = false" disabled="@investSpinner">Cancel</button>
                            <button type="button" class="btn btn-primary" @onclick="Send" disabled="@investSpinner">
                                @if (investSpinner)
                                {
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span>Confirm...</span>
                                }
                                else
                                {
                                    <span>Confirm</span>
                                }
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        }

        <!-- Stages Breakdown -->
        @if (StagesBreakdown != null)
        {
            <div class="card mt-3">
                <div class="card-header">
                    <h4>Stages Breakdown</h4>
                </div>
                <div class="card-body">
                    @foreach (var stage in StagesBreakdown)
                    {
                        <p>Stage @stage.StageNumber: invest @stage.Amount BTC that will released on @stage.StageDateTime.ToString("dd/MM/yyyy") (@stage.DaysFromStartDate days) </p>
                    }
                </div>
            </div>
        }
    }
    else
    {
        if (investorProject.WaitingForFounderResponse())
        {
            <div class="card mt-3 text-center">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4>Waiting for the founder to approve</h4>
                    <div>
                        <button type="button" class="btn btn-danger" @onclick="CancelInvestment">Cancel</button>
                        <button class="btn btn-primary" @onclick="RefreshSignatures" disabled="@refreshSpinner">
                            @if (refreshSpinner)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span>Refresh...</span>
                            }
                            else
                            {
                                <span>Refresh</span>
                            }
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="loader-slow"></div>
                </div>
            </div>

        }
        else
        {
            if (investorProject.ReceivedFounderSignatures() && !investorProject.InvestedInProject())
            {
                <div class="card mt-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4>Founder has signed</h4>
                        <button type="button" class="btn btn-danger" @onclick="CancelInvestment">Cancel</button>
                    </div>
                    <div class="card-body">
                        <p class="modal-title">The founder has signed the recovery transaction, you may now invest.</p>
                        <br/>
                        <button type="button" class="btn btn-success" @onclick="PublishSignedTransactionAsync" disabled="@publishSpinner">
                            @if (publishSpinner)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span>Confirm...</span>
                            }
                            else
                            {
                                <span>Invest</span>
                            }
                        </button>
                    </div>
                </div>
            }   
        }
    }
</div>


@code {

    [Parameter]
    public string ProjectId { get; set; }

    private bool buildSpinner = false;
    private bool investSpinner = false;
    private bool publishSpinner = false;
    private bool refreshSpinner = false;


    public InvestmentModel Investment { get; set; } = new InvestmentModel { InvestmentAmount = 10 };
    private bool IsSeederTimePassed { get; set; }
    private List<StageBreakdown> StagesBreakdown { get; set; } = new();
    bool founder = false;
    bool invested = false;
    private Project? project;
    private bool showCreateModal;
    TransactionInfo? signedTransaction;
    Transaction unSignedTransaction;

    private FeeData feeData = new();

    private IJSInProcessObjectReference? javascriptNostrToolsModule;

    protected override async Task OnInitializedAsync()
    {
        if (!hasWallet)
        {
            NavigationManager.NavigateTo($"/wallet");
        }

        Project? findProject = storage.GetInvestmentProjects().FirstOrDefault(p => p.ProjectInfo.ProjectIdentifier == ProjectId);

        if (findProject != null)
        {
            var investmentProject = findProject as InvestorProject;
            project = investmentProject;
            
            invested = investmentProject?.InvestedInProject() ?? false;
        }
        else
        {
            findProject = storage.GetFounderProjects().FirstOrDefault(p => p.ProjectInfo.ProjectIdentifier == ProjectId);

            if (findProject != null)
            {
                founder = true;
                project = findProject;
            }
            else
            {
                project = SessionStorage.GetProjectById(ProjectId);

                if (project?.ProjectInfo == null)
                {
                    NavigationManager.NavigateTo($"/view/{ProjectId}");
                    return;
                }
            }
        }

        await CheckIfSeederTimeHasPassed();

        UpdateStagesBreakdown(new ChangeEventArgs { Value = Investment.InvestmentAmount });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (javascriptNostrToolsModule == null)
        {
            try
            {
                //TODO import the nostr tool module directly to c# class
                javascriptNostrToolsModule = await JS.InvokeAsync<IJSInProcessObjectReference>("import", "./NostrToolsMethods.js?version=" + DateTime.UtcNow.Ticks);
            }
            catch (JSException e)
            {
                _Logger.LogError(e,"Failed to load the nostr tools module");
                notificationComponent.ShowErrorMessage(e.Message);
            }
        }

        if (firstRender)
        {
            if (hasWallet)
            {
                await RefreshSignatures();
            }
        }
    }

    private async Task RefreshSignatures()
    {
        if (project is InvestorProject investmentProject && investmentProject.WaitingForFounderResponse())
        {
            if (passwordComponent.HasPassword())
            {
                await ScanForPendingSignatures();
            }
            else
            {
                passwordComponent.ShowPassword(ScanForPendingSignatures);
            }
        }
    }

    private async Task ScanForPendingSignatures()
    {
        if (project is InvestorProject investmentProject && investmentProject.WaitingForFounderResponse())
        {
            if (!passwordComponent.HasPassword())
            {
                notificationComponent.ShowErrorMessage("no wallet password");
                return;
            }

            refreshSpinner = true;
            StateHasChanged();
            await Task.Delay(10);

            try
            {
                var words = await passwordComponent.GetWalletAsync();

                var accountInfo = storage.GetAccountInfo(_networkConfiguration.GetNetwork().Name);

                var nostrPrivateKey = _derivationOperations.DeriveProjectNostrPrivateKey(words, accountInfo.InvestmentsCount + 1);

                var nostrPrivateKeyHex = Encoders.Hex.EncodeData(nostrPrivateKey.ToBytes());

                _SignService.LookupSignatureForInvestmentRequest(
                    NostrPrivateKey.FromHex(nostrPrivateKeyHex).DerivePublicKey().Hex
                    , project.ProjectInfo.NostrPubKey, investmentProject.SignaturesInfo!.TimeOfSignatureRequest!.Value, investmentProject.SignaturesInfo!.SignatureRequestEventId!,
                    async _ => await HandleSignatureReceivedAsync(nostrPrivateKeyHex, _));
            }
            catch (Exception e)
            {
                _Logger.LogError(e, e.Message);
                notificationComponent.ShowErrorMessage(e.Message);
            }
            finally
            {
                refreshSpinner = false;
            }

            StateHasChanged();
            await Task.Delay(10);
        }
    }

    private Task CheckIfSeederTimeHasPassed()
    {
        // Implement your logic to check whether the seeder time has passed.
        // For now, I'm returning a dummy value.
        IsSeederTimePassed = false;

        Investment.IsSeeder = !IsSeederTimePassed;

        return Task.CompletedTask;
    }

    private void UpdateStagesBreakdown(ChangeEventArgs e)
    {
        if (decimal.TryParse(e.Value.ToString(), out decimal amount))
        {
            Investment.InvestmentAmount = amount;

            StagesBreakdown.Clear();
            int index = 1;

            foreach (var stage in project!.ProjectInfo.Stages)
            {
                var insert = new StageBreakdown
                {
                    StageNumber = index++,
                    Amount = Investment.InvestmentAmount * (stage.AmountToRelease / 100),
                    StageDateTime = stage.ReleaseDate,
                    DaysFromStartDate = (stage.ReleaseDate - project.ProjectInfo.StartDate).Days
                };

                StagesBreakdown.Add(insert);
            }
        }
    }

    private async Task InvestFundsAndCheckPassword()
    {
        if (!passwordComponent.HasPassword())
        {
            passwordComponent.ShowPassword(InvestFunds);
        }
        else
        {
            await InvestFunds();
        }
    }

    private async Task InvestFunds()
    {
        if (Investment.IsSeeder) 
        {
            var minSeederAmount = 2;
            if (Investment.InvestmentAmount < minSeederAmount)
            {
                notificationComponent.ShowErrorMessage($"Seeder minimum investment amount of {minSeederAmount} BTC was not reached");
                return;
            }
        }
        else
        {
            if  (Investment.InvestmentAmount < (decimal)0.001)
            {
                notificationComponent.ShowErrorMessage($"Investor minimum investment amount is {0.001} BTC");
                return;
            }
        }

        if (project.ProjectInfo.Stages.Sum(s => s.AmountToRelease) != 100)
        {
            notificationComponent.ShowErrorMessage("The stages must sum to 100%");
            return;
        }

        if (project is InvestorProject investmentProject && investmentProject.InvestedInProject())
        {
            notificationComponent.ShowErrorMessage("You already invested");
            return;
        }

        buildSpinner = true;
        StateHasChanged();
        await Task.Delay(10);

        try
        {
            var accountInfo = storage.GetAccountInfo(network.Name);

            var fetchFees = await _WalletOperations.GetFeeEstimationAsync();
            feeData.FeeEstimations.Fees.Clear();
            feeData.FeeEstimations.Fees.AddRange(fetchFees);
            feeData.SelectedFeeEstimation = feeData.FeeEstimations.Fees.First();

            var words = await passwordComponent.GetWalletAsync();

            var investorKey = _derivationOperations.DeriveInvestorKey(words, project.ProjectInfo.FounderKey);
            
            if (Investment.IsSeeder)
            {
                var seederHash = _derivationOperations.DeriveSeederSecretHash(words, project.ProjectInfo.FounderKey);
            }

            unSignedTransaction = _InvestorTransactionActions.CreateInvestmentTransaction(project.ProjectInfo, investorKey, Money.Coins(Investment.InvestmentAmount).Satoshi);

            signedTransaction = _WalletOperations.AddInputsAndSignTransaction(accountInfo.GetNextChangeReceiveAddress(), unSignedTransaction, words, accountInfo, feeData.SelectedFeeEstimation);

            showCreateModal = true;
        }
        catch (Exception e)
        {
            _Logger.LogError(e, e.Message);
            notificationComponent.ShowErrorMessage(e.Message);
        }
        finally
        {
            buildSpinner = false;
        }

        StateHasChanged();
    }

    private async Task FeeRangeChanged(ChangeEventArgs e)
    {
        var selected = e.Value?.ToString();

        if (selected != null)
        {
            if (int.TryParse(selected, out int res))
            {
                if (res <= feeData.FeeEstimations.Fees.Count)
                {
                    if (!passwordComponent.HasPassword())
                    {
                        showCreateModal = false;
                        notificationComponent.ShowErrorMessage("Wallet password expired");
                        return;
                    }

                    var words = await passwordComponent.GetWalletAsync();

                    feeData.SelectedFeeEstimation = feeData.FeeEstimations.Fees.OrderBy(fee => fee.Confirmations).ToList()[res - 1];
                   
                    var accountInfo = storage.GetAccountInfo(network.Name);
                    
                    signedTransaction = _WalletOperations.AddInputsAndSignTransaction(accountInfo.GetNextChangeReceiveAddress(), unSignedTransaction, words, accountInfo, feeData.SelectedFeeEstimation);

                    StateHasChanged();
                }
            }
        }
    }

    private async Task Send()
    {
        if (!passwordComponent.HasPassword())
        {
            investSpinner = false;
            showCreateModal = false;
            notificationComponent.ShowErrorMessage("Wallet password expired");
            return;
        }

        investSpinner = true;
        StateHasChanged();
        await Task.Delay(10);

        try
        {
            Debug.Assert(project != null, nameof(project) + " != null");

            project = new InvestorProject
            {
                ProjectInfo = project.ProjectInfo, 
                Metadata = project.Metadata, 
                SignedTransactionHex = signedTransaction!.Transaction!.ToHex(), 
                CreationTransactionId = project.CreationTransactionId
            };

            var investorProject = (InvestorProject)project;

            // remove signatures when requesting founder to sign
            investorProject.SignaturesInfo = new()
                {
                    ProjectIdentifier = investorProject!.ProjectInfo.ProjectIdentifier,
                };

            var strippedInvestmentTransaction = network.CreateTransaction(investorProject.SignedTransactionHex);
            strippedInvestmentTransaction.Inputs.ForEach(f => f.WitScript = Blockcore.Consensus.TransactionInfo.WitScript.Empty);

            var accountInfo = storage.GetAccountInfo(network.Name);

            var words = await passwordComponent.GetWalletAsync();
            var nostrPrivateKey = _derivationOperations.DeriveProjectNostrPrivateKey(words, accountInfo.InvestmentsCount + 1);

            var nostrPrivateKeyHex = Encoders.Hex.EncodeData(nostrPrivateKey.ToBytes());

            var encryptedContent = await javascriptNostrToolsModule.InvokeAsync<string>(
                "encryptNostr",
                nostrPrivateKeyHex,
                investorProject.ProjectInfo.NostrPubKey,
                strippedInvestmentTransaction.ToHex(network.Consensus.ConsensusFactory));

            var investmentSigsRequest = _SignService.RequestInvestmentSigs(new SignRecoveryRequest
                {
                    ProjectIdentifier = investorProject.ProjectInfo.ProjectIdentifier,
                    EncryptedContent = encryptedContent,
                    NostrPubKey = investorProject.ProjectInfo.NostrPubKey,
                    InvestorNostrPrivateKey = nostrPrivateKeyHex
                });

            investorProject.SignaturesInfo!.TimeOfSignatureRequest = investmentSigsRequest.eventTime;
            investorProject.SignaturesInfo!.SignatureRequestEventId = investmentSigsRequest.eventId;

            storage.AddInvestmentProject(investorProject);

            foreach (var input in strippedInvestmentTransaction.Inputs)
                accountInfo.UtxoReservedForInvestment.Add(input.PrevOut.ToString());

            storage.SetAccountInfo(network.Name, accountInfo);

            _SignService.LookupSignatureForInvestmentRequest(
                NostrPrivateKey.FromHex(nostrPrivateKeyHex).DerivePublicKey().Hex,
                investorProject.ProjectInfo.NostrPubKey,
                investorProject.SignaturesInfo.TimeOfSignatureRequest.Value,
                investorProject.SignaturesInfo.SignatureRequestEventId,
                async _ => await HandleSignatureReceivedAsync(nostrPrivateKeyHex, _));

            var metadata = SessionStorage.GetProjectMetadataByPubkey(project.ProjectInfo.NostrPubKey);
            if (metadata != null)
            {
                storage.AddInvestmentProjectMetadata(project.ProjectInfo.NostrPubKey, metadata);
            }

            notificationComponent.ShowNotificationMessage("Signature request sent", 5);
        }
        catch (Exception e)
        {
            _Logger.LogError(e, e.Message);
            notificationComponent.ShowErrorMessage(e.Message);
        }
        finally
        {
            showCreateModal = false;
            investSpinner = false;
            passwordComponent.ClearPassword();
        }

        StateHasChanged();
    }

    private async Task HandleSignatureReceivedAsync(string? nostrPrivateKeyHex, string encryptedSignatures)
    {
        if (project is not InvestorProject investorProject || investorProject.ReceivedFounderSignatures()) //multiple relays for the same message
            return;
        
        var signatureJson = await javascriptNostrToolsModule.InvokeAsync<string>(
            "decryptNostr", nostrPrivateKeyHex, project.ProjectInfo.NostrPubKey, encryptedSignatures);
        
        _Logger.LogInformation("signature : " + signatureJson);

        var res = System.Text.Json.JsonSerializer.Deserialize<SignatureInfo>(signatureJson, RelayService.settings);

        if (res.ProjectIdentifier == investorProject.SignaturesInfo?.ProjectIdentifier)
        {
            investorProject.SignaturesInfo.Signatures = res.Signatures;
            StateHasChanged();
        }
    }

    public async Task CancelInvestment()
    {
        if (project is not InvestorProject investorProject || investorProject?.SignaturesInfo is null)
        {
            notificationComponent.ShowErrorMessage("Missing project details, unable to cancel the investment");
            return;
        }

        if (!string.IsNullOrEmpty(investorProject.SignedTransactionHex))
        {
            if (signedTransaction == null)
                signedTransaction = new TransactionInfo();

            signedTransaction.Transaction ??= network.CreateTransaction(investorProject.SignedTransactionHex);
            var accountInfo = storage.GetAccountInfo(network.Name);

            foreach (var input in signedTransaction.Transaction.Inputs)
                accountInfo.UtxoReservedForInvestment.Remove(input.PrevOut.ToString());

            storage.SetAccountInfo(network.Name, accountInfo);
        }

        storage.RemoveInvestmentProject(project.ProjectInfo.ProjectIdentifier);

        investorProject.SignaturesInfo = null;
        project = SessionStorage.GetProjectById(ProjectId);
    }

    public async Task PublishSignedTransactionAsync()
    {
        publishSpinner = true;
        StateHasChanged();
        await Task.Delay(10);

        try
        {
            Debug.Assert(project != null, nameof(project) + " != null");
            var investorProject = project as InvestorProject;
            Debug.Assert(investorProject is not null, "The project must be an investor project", nameof(project) + " != null");
            Debug.Assert(investorProject.SignaturesInfo != null, nameof(investorProject.SignaturesInfo) + " != null");
            Debug.Assert(investorProject.SignedTransactionHex != null, nameof(investorProject.SignedTransactionHex) + " != null");

            if (signedTransaction == null)
                signedTransaction = new TransactionInfo();

            signedTransaction.Transaction ??= _networkConfiguration.GetNetwork().CreateTransaction(investorProject.SignedTransactionHex);

            var validSignatures = _InvestorTransactionActions.CheckInvestorRecoverySignatures(investorProject.ProjectInfo, signedTransaction.Transaction, investorProject.SignaturesInfo);

            if (!validSignatures)
            {
                notificationComponent.ShowErrorMessage("The signatures returned from the founder failed validation");
                return;
            }

            var response = await _WalletOperations.PublishTransactionAsync(network, signedTransaction.Transaction);

            if (!response.Success)
            {
                notificationComponent.ShowErrorMessage(response.Message);
                return;
            }

            // link the trx to the signatures
            investorProject.CompleteProjectInvestment(signedTransaction.Transaction);

            storage.UpdateInvestmentProject(investorProject);

            var accountInfo = storage.GetAccountInfo(network.Name);
            var unspentInfo = SessionStorage.GetUnconfirmedInboundFunds();

            var spendUtxos = _WalletOperations.UpdateAccountUnconfirmedInfoWithSpentTransaction(accountInfo, signedTransaction.Transaction);

            foreach (var input in signedTransaction.Transaction.Inputs)
                accountInfo.UtxoReservedForInvestment.Remove(input.PrevOut.ToString());

            storage.SetAccountInfo(network.Name, accountInfo);

            unspentInfo.AddRange(spendUtxos);
            SessionStorage.SetUnconfirmedInboundFunds(unspentInfo);

            var metadata = SessionStorage.GetProjectMetadataByPubkey(project.ProjectInfo.NostrPubKey);
            if (metadata != null)
            {
                storage.AddInvestmentProjectMetadata(project.ProjectInfo.NostrPubKey, metadata);
            }

            notificationComponent.ShowNotificationMessage("Invested in project", 5);

            NavigationManager.NavigateTo($"/view/{project.ProjectInfo.ProjectIdentifier}");
        }
        catch (Exception e)
        {
            _Logger.LogError(e, e.Message);
            notificationComponent.ShowErrorMessage(e.Message);
        }
        finally
        {
            publishSpinner = false;
        }
    }

    public class InvestmentModel
    {
        public decimal InvestmentAmount { get; set; }
        public bool IsSeeder { get; set; }
    }

    public class StageBreakdown
    {
        public int StageNumber { get; set; }
        public decimal Amount { get; set; }
        public DateTime StageDateTime { get; set; }
        public int DaysFromStartDate { get; set; }
    }
}
