@page "/signatures/{ProjectIdentifier}"
@using Angor.Shared
@using Angor.Client.Storage
@using Angor.Shared.Models
@using Angor.Client.Services
@using Angor.Shared.ProtocolNew
@using Angor.Client.Models
@using Blockcore.NBitcoin
@using Blockcore.NBitcoin.DataEncoders
@using System.Text.Json
@using Angor.Shared.Services
@using System.Security.Cryptography
@using Angor.Shared.Utilities

@inject IJSRuntime JS

@inject ILogger<Signatures> Logger
@inject IDerivationOperations DerivationOperations
@inject IClientStorage Storage;
@inject ISignService SignService
@inject IInvestorTransactionActions InvestorTransactionActions
@inject IFounderTransactionActions FounderTransactionActions
@inject ISerializer serializer
@inject IEncryptionService encryption
@inject NavMenuState NavMenuState
@inject NostrConversionHelper NostrHelper
@inject INetworkService _networkService

@inherits BaseComponent

<NotificationComponent @ref="notificationComponent" />
<PasswordComponent @ref="passwordComponent" />

@if (!hasWallet)
{
    NavigationManager.NavigateTo($"/wallet");
    return;
}
<div class="header-container slide-in">
    <div class="card card-body">
        <div class="header-content">
            <div class="header-title animate-fade-in">
                <span class="header-icon-wrapper">
                    <Icon IconName="signature" Width="32" Height="32" />
                </span>
                <h5 class="header-text">Pending Signatures</h5>
            </div>
            <div class="header-actions">
                <button class="btn btn-border-success"
                        @onclick="RefreshSignaturesInternal"
                        disabled="@refreshButtonSpinner"
                        title="Refresh">
                    @if (refreshButtonSpinner)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    }
                    else
                    {
                        <Icon IconName="refresh" Height="24" Width="24" />
                        <span class="button-text ms-2">Refresh</span>
                    }
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row slide-in mt-4">
    <div class="card card-body">
        <p class="mb-0 font-weight-normal text-sm animate-fade-in-delayed">
            Project ID: @ProjectIdentifier
        </p>
    </div>
</div>

 
<div class="slide-in mt-4">
    @if (!signaturesRequests.Any())
    {
        <div class="card card-body angor-alert-info hover-effect">
            <div class="d-flex align-items-center">
                <span class="me-3 user-select-none animate-rotate">
                    <Icon IconName="info" Width="40" Height="40" Color="var(--angor-primary)" />
                </span>
                <span class="text-white" data-cy="projectsGrid">No pending signatures yet...</span>
            </div>
        </div>
    }
    else
    {
        @if (messagesReceived || isLoading)
        {
            <div class="card card-body">
                <div class="d-flex flex-column justify-content-center align-items-center py-5">
                    @if (isLoading)
                    {
                        <div class="text-center mb-4">
                            <h5 class="d-flex align-items-center justify-content-center">
                                <Icon IconName="signature" Width="24" Height="24" class="me-2" />
                                Approving Signatures
                            </h5>
                            <div class="badge bg-primary px-4 py-2 my-3">
                                @numOfSignaturesSigned / @numOfSignatureToSign
                            </div>
                        </div>
                    }
                    <div class="loader"></div>
                </div>
            </div>
        }
        else
        {
            <div class="card card-body hover-effect">
                <div class="header-container">
                    <div class="header-content">
                        <div class="header-title animate-fade-in">
                            <span class="header-icon-wrapper">
                                <Icon IconName="statistics" Width="32" Height="32" />
                            </span>
                            <h5 class="header-text">Signatures Overview</h5>
                        </div>
                        <div class="header-actions">
                            <button class="btn @(ApproveButtonClass)" @onclick="ApproveAllSignatures" disabled="@ApproveButtonDisabled">
                                <Icon IconName="approved" Width="20" Height="20" />
                                <span class="button-text ms-2">Approve All</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive form-control mt-4 slide-in">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Investment</th>
                                <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Received</th>
                                <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Status</th>
                                <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Chat</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var signature in signaturesRequests.Where(_ => _ is { SignRecoveryRequest.InvestmentTransactionHex: not null, AmountToInvest: not null }))
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <Icon IconName="bitcoin" Width="24" Height="24" class="me-2" />
                                            <span>@Money.Satoshis(signature.AmountToInvest ?? 0).ToUnit(MoneyUnit.BTC) @network.CoinTicker</span>
                                        </div>
                                    </td>
                                    <td>@signature.TimeArrived.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>
                                        @if (signature.TimeApproved is null)
                                        {
                                            <button class="btn btn-border-success animate-scale" @onclick="() => ApproveSignatureCheckPassword(signature)" disabled="@signaturesRequestsApproving.Any()">
                                                @if (signaturesRequestsApproving.ContainsKey(signature))
                                                {
                                                    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                                    <span>Approving...</span>
                                                }
                                                else
                                                {
                                                    <Icon IconName="approved" Width="20" Height="20" />
                                                    <span class="ms-2">Approve</span>
                                                }
                                            </button>
                                        }
                                        else
                                        {
                                            <span class="badge bg-success">
                                                <Icon IconName="check" Width="16" Height="16" class="me-1" />
                                                Approved on @signature.TimeApproved.Value.ToString("dd/MM/yyyy HH:mm")
                                            </span>
                                        }
                                    </td>
                                    <td class="d-flex justify-content-end align-items-center">
                                        <button class="btn btn-sm btn-border-success " @onclick="() => OpenInChat(signature.investorNostrPubKey)">
                                            <Icon IconName="chat" Width="16" Height="16" class="me-1" />
                                            Chat
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public string ProjectIdentifier { get; set; }

    public FounderProject FounderProject { get; set; }
    private List<SignatureItem> signaturesRequests = new();


    private Dictionary<SignatureItem, string> signaturesRequestsApproving = new();

    bool messagesReceived;
    bool scanedForApprovals;

    private bool CanApproveAllSignatures => signaturesRequests != null && signaturesRequests.Any(s => s.SignRecoveryRequest?.InvestmentTransactionHex != null && s.AmountToInvest != null && s.TimeApproved == null);

    private string ApproveButtonClass => CanApproveAllSignatures ? "btn-border-success" : "btn-border";

    private bool ApproveButtonDisabled => !CanApproveAllSignatures;

    private bool isLoading = false;
    private bool refreshButtonSpinner = false;
    private int numOfSignatureToSign = 0;
    private int numOfSignaturesSigned = 0;

    protected override async Task OnInitializedAsync()
    {
        NavMenuState.SetActivePage("founder");

        Logger.LogDebug("OnInitializedAsync");
        if (hasWallet)
        {
            FounderProject = Storage.GetFounderProjects()
                .FirstOrDefault(_ => _.ProjectInfo.ProjectIdentifier == ProjectIdentifier)
                             ?? throw new ArgumentException("The project was not found, try to scan in the founder page");

            await FetchPendingSignatures(FounderProject);
        }
        Logger.LogDebug("End of OnInitializedAsync");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Logger.LogDebug("OnAfterRenderAsync");
        await FetchSignaturesCheckPassword();
    }

    protected async Task FetchSignaturesCheckPassword()
    {
        if (signaturesRequests.Any(x => x.AmountToInvest == null))
        {
            if (passwordComponent.HasPassword())
            {
                await FetchSignatures();
            }
            else
            {
                passwordComponent.ShowPassword(FetchSignatures);
            }
        }
    }

    private async Task RefreshSignaturesInternal()
    {
        if (passwordComponent.HasPassword())
        {
            await RefreshSignatures();
        }
        else
        {
            passwordComponent.ShowPassword(async () =>
            {
                await RefreshSignatures();
            });
        }
    }

    private async Task RefreshSignatures()
    {
        refreshButtonSpinner = true;
        StateHasChanged();

        try
        {
            await FetchPendingSignatures(FounderProject);
            await FetchSignatures();
            await Task.Delay(1000);
        }
        catch (Exception e)
        {
            Logger.LogError($"Error fetching signatures: {e.Message}");
        }
        finally
        {

            refreshButtonSpinner = false;
            StateHasChanged();
        }
    }

    protected async Task FetchSignatures()
    {
        Logger.LogDebug($"handled = {signaturesRequests.Count(x => x.AmountToInvest.HasValue)}, total = {signaturesRequests.Count}");

        if (signaturesRequests.Any(x => x.AmountToInvest == null))
        {
            if (!scanedForApprovals)
            {
                FetchFounderApprovalsSignatures(FounderProject);
                return;
            }

            if (!passwordComponent.HasPassword())
            {
                notificationComponent.ShowErrorMessage("no wallet password");
                return;
            }

            var words = await passwordComponent.GetWalletAsync();

            var nostrPrivateKey = await DerivationOperations.DeriveProjectNostrPrivateKeyAsync(words, FounderProject.ProjectInfo.FounderKey);

            var nostrPrivateKeyHex = Encoders.Hex.EncodeData(nostrPrivateKey.ToBytes());

            foreach (var pendingSignature in signaturesRequests.Where(_ => _.EncryptedMessage != null && _.AmountToInvest == null))
            {
                try
                {
                    var sigResJson = await encryption.DecryptNostrContentAsync(
                        nostrPrivateKeyHex, pendingSignature.investorNostrPubKey, pendingSignature.EncryptedMessage);

                    pendingSignature.SignRecoveryRequest = serializer.Deserialize<SignRecoveryRequest>(sigResJson);
                    if (pendingSignature.SignRecoveryRequest is null)
                    {
                        throw new Exception("Error deserializing signature request");
                    }
                    var investorTrx = _networkConfiguration.GetNetwork().CreateTransaction(pendingSignature.SignRecoveryRequest.InvestmentTransactionHex);

                    // Todo get the actual outputs with taproot type
                    pendingSignature.AmountToInvest = investorTrx.Outputs.AsIndexedOutputs().Skip(2).Take(investorTrx.Outputs.Count - 3)
                        .Sum(_ => _.TxOut.Value.Satoshi);
                }
                catch (FormatException fe)
                {
                    Logger.LogError("Format error decrypting transaction hex: {TransactionHex}, Exception: {ExceptionMessage}", pendingSignature?.SignRecoveryRequest?.InvestmentTransactionHex, fe.Message);
                    pendingSignature.SignRecoveryRequest = null;
                }
                catch (CryptographicException ce)
                {
                    Logger.LogError("Cryptographic error decrypting transaction hex: {TransactionHex}, Exception: {ExceptionMessage}", pendingSignature?.SignRecoveryRequest?.InvestmentTransactionHex, ce.Message);
                    pendingSignature.SignRecoveryRequest = null;
                }
                catch (Exception e)
                {
                    Logger.LogError("Error decrypting transaction hex: {TransactionHex}, Exception: {ExceptionMessage}", pendingSignature?.SignRecoveryRequest?.InvestmentTransactionHex, e.Message);
                    pendingSignature.SignRecoveryRequest = null;
                }
            }

            Logger.LogDebug($"Calling StateHasChanged in OnAfterRenderAsync");
            messagesReceived = false;
            StateHasChanged();
        }

        Logger.LogDebug("OnAfterRenderAsync Completed");
        Logger.LogDebug($"Signatures retrieved: {signaturesRequests.Count}");
    }

    private async Task FetchPendingSignatures(FounderProject project)
    {
        await SignService.LookupInvestmentRequestsAsync(project.ProjectInfo.NostrPubKey, null, null,// project.LastRequestForSignaturesTime , async
            (eventId, investorNostrPubKey, encryptedMessage, timeArrived) =>
            {
                Logger.LogDebug($"Sig request event received investorNostrPubKey: {investorNostrPubKey} - timeArrived: {timeArrived}");

                var sigReq = signaturesRequests.FirstOrDefault(_ => _.investorNostrPubKey == investorNostrPubKey);

                if (sigReq != null)
                {
                    if (sigReq.TimeArrived >= timeArrived)
                    {
                        return; //multiple relays could mean the same massage multiple times
                    }

                    Logger.LogDebug($"Sig request event received is replaced");

                    // this is a newer sig request so replace it
                    signaturesRequests.Remove(sigReq);
                }

                Logger.LogDebug($"Sig request event received is new");

                messagesReceived = true;

                var signatureRequest = new SignatureItem
                    {
                        investorNostrPubKey = investorNostrPubKey,
                        TimeArrived = timeArrived,
                        EncryptedMessage = encryptedMessage, //To be encrypted after js interop is loaded
                        EventId = eventId
                    };

                signaturesRequests.Add(signatureRequest);
                Logger.LogDebug($"Added to pendingSignatures");
            },
            () =>
            {
                Logger.LogDebug($"End of messages");

                if (!messagesReceived)
                    return;

                Logger.LogDebug($"Calling StateHasChanged in EOSE");
                StateHasChanged();
            });
    }

    private void FetchFounderApprovalsSignatures(FounderProject project)
    {
        SignService.LookupInvestmentRequestApprovals(project.ProjectInfo.NostrPubKey,
            (investorNostrPubKey, timeApproved, reqEventId) =>
            {
                Logger.LogDebug($"Sig response event received investorNostrPubKey: {investorNostrPubKey} - timeApproved: {timeApproved} - reqEventId: {reqEventId}");

                var signatureRequest = signaturesRequests.FirstOrDefault(_ => _.investorNostrPubKey == investorNostrPubKey);

                if (signatureRequest is null || signatureRequest.TimeApproved != null)
                    return; //multiple relays could mean the same massage multiple times

                if (signatureRequest.TimeArrived > timeApproved)
                {
                    Logger.LogDebug($"The event received is replaced by time");
                    return; // sig of an old request
                }

                if (reqEventId != null && signatureRequest.EventId != reqEventId)
                {
                    Logger.LogDebug($"The event received is replaced by eventid");
                    return; // sig of an old request
                }

                Logger.LogDebug($"The event received is new");

                signatureRequest.TimeApproved = timeApproved;

                Logger.LogDebug($"Added to pendingSignatures");
            },
            () =>
            {
                scanedForApprovals = true;

                if (signaturesRequests.Any(_ => _.TimeApproved != null))
                {
                    var latestApprovedTime = signaturesRequests
                        .Where(x => x.TimeApproved != null)
                        .Max(x => x.TimeArrived);

                    if (FounderProject.LastRequestForSignaturesTime is null || FounderProject.LastRequestForSignaturesTime < latestApprovedTime)
                    {
                        FounderProject.LastRequestForSignaturesTime = latestApprovedTime;
                        Storage.UpdateFounderProject(FounderProject);
                    }
                }

                Logger.LogDebug($"Calling StateHasChanged in EOSE");
                StateHasChanged();
                Logger.LogDebug($"End of messages on EOSE");
            });
    }

    protected async Task ApproveSignatureCheckPassword(SignatureItem signature)
    {
        if (passwordComponent.HasPassword())
        {
            await ApproveSignature(signature);
        }
        else
        {
            passwordComponent.ShowPassword(async () =>
            {
                await ApproveSignature(signature);
            });
        }
    }

    private async Task ApproveSignature(SignatureItem signature)
    {
        signaturesRequestsApproving.Add(signature, string.Empty);
        StateHasChanged();

        try
        {
            var words = await passwordComponent.GetWalletAsync();

            var operationResult = await PerformSignatureApproval(signature, words);

            if (!operationResult.Success)
            {
                notificationComponent.ShowErrorMessage(operationResult.Message);
            }
        }
        catch (Exception e)
        {
            notificationComponent.ShowErrorMessage(e.Message, e);
        }
        finally
        {
            signaturesRequestsApproving.Remove(signature);
        }

        StateHasChanged();
    }

    private async Task ApproveAllSignatures()
    {
        if (passwordComponent.HasPassword())
        {
            await ProcessSignatures();
        }
        else
        {
            passwordComponent.ShowPassword(async () =>
            {
                await ProcessSignatures();
            });
        }
    }

    private async Task ProcessSignatures()
    {
        isLoading = true;
        StateHasChanged();

        try
        {
            var pendingSignatures = signaturesRequests
                .Where(s => s.SignRecoveryRequest?.InvestmentTransactionHex != null && s.AmountToInvest != null && s.TimeApproved == null)
                .ToList();

            numOfSignatureToSign = pendingSignatures.Count;
            numOfSignaturesSigned = 0;

            var words = await passwordComponent.GetWalletAsync();

            foreach (var signature in pendingSignatures)
            {
                await PerformSignatureApproval(signature, words);
                numOfSignaturesSigned++;
                StateHasChanged();
            }
        }
        catch (Exception e)
        {
            notificationComponent.ShowErrorMessage(e.Message, e);
        }
        finally
        {
            isLoading = false;
            passwordComponent.ClearPassword();
        }

        StateHasChanged();
    }

    private async Task<OperationResult> PerformSignatureApproval(SignatureItem signature, WalletWords words)
    {
        try
        {
            var key = DerivationOperations.DeriveFounderRecoveryPrivateKey(words, FounderProject.ProjectInfo.FounderKey);
            var signatureInfo = CreateRecoverySignatures(signature.SignRecoveryRequest.InvestmentTransactionHex, FounderProject.ProjectInfo, Encoders.Hex.EncodeData(key.ToBytes()));

            var sigJson = serializer.Serialize(signatureInfo);

            var nostrPrivateKey = await DerivationOperations.DeriveProjectNostrPrivateKeyAsync(words, FounderProject.ProjectInfo.FounderKey);
            var nostrPrivateKeyHex = Encoders.Hex.EncodeData(nostrPrivateKey.ToBytes());

            var encryptedContent = await encryption.EncryptNostrContentAsync(
                nostrPrivateKeyHex, signature.investorNostrPubKey, sigJson);

            FounderProject.LastRequestForSignaturesTime = SignService.SendSignaturesToInvestor(encryptedContent, nostrPrivateKeyHex, signature.investorNostrPubKey, signature.EventId);

            Storage.UpdateFounderProject(FounderProject);

            signaturesRequests.Single(_ => _.investorNostrPubKey == signature.investorNostrPubKey && _.TimeApproved is null)
                .TimeApproved = FounderProject.LastRequestForSignaturesTime;

            return new OperationResult { Success = true };
        }
        catch (Exception ex)
        {
            return new OperationResult { Success = false, Message = $"An error occurred: {ex.Message}" };
        }
    }

    private SignatureInfo CreateRecoverySignatures(string transactionHex, ProjectInfo info, string founderSigningPrivateKey)
    {
        var investorTrx = _networkConfiguration.GetNetwork().CreateTransaction(transactionHex);

        // build sigs
        var recoveryTrx = InvestorTransactionActions.BuildRecoverInvestorFundsTransaction(info, investorTrx);
        var sig = FounderTransactionActions.SignInvestorRecoveryTransactions(info, transactionHex, recoveryTrx, founderSigningPrivateKey);

        if (!InvestorTransactionActions.CheckInvestorRecoverySignatures(info, investorTrx, sig))
            throw new InvalidOperationException();

        sig.SignatureType = SignatureInfoType.Recovery;

        return sig;
    }

    public class SignatureItem
    {
        public string investorNostrPubKey { get; set; }

        public long? AmountToInvest { get; set; }

        public DateTime TimeArrived { get; set; }
        public DateTime? TimeApproved { get; set; }

        public SignRecoveryRequest? SignRecoveryRequest { get; set; }
        public string? EncryptedMessage { get; set; }

        public string EventId { get; set; }
    }

    private async void OpenInChat(string NostrPubKey)
    {
        var npub = NostrHelper.ConvertHexToNpub(NostrPubKey);

        if (!string.IsNullOrEmpty(npub))
        {
            var primaryChatApp = _networkService.GetPrimaryChatApp();
            var url = $"{primaryChatApp.Url}/{npub}";
            await JS.InvokeVoidAsync("window.open", url, "_blank");
        }
        else
        {
            notificationComponent.ShowNotificationMessage("Public key is not available.", 3);
        }
    }
}