@page "/signatures/{ProjectIdentifier}"
@using Angor.Shared
@using Angor.Client.Storage
@using Angor.Shared.Models
@using Angor.Client.Services
@using Angor.Shared.ProtocolNew
@using Angor.Client.Models
@using Blockcore.NBitcoin
@using Blockcore.NBitcoin.DataEncoders
@using System.Text.Json
@using Angor.Shared.Services

@inject IJSRuntime JS

@inject ILogger<Signatures> Logger
@inject IDerivationOperations DerivationOperations
@inject IClientStorage Storage;
@inject ISignService SignService
@inject IInvestorTransactionActions InvestorTransactionActions
@inject IFounderTransactionActions FounderTransactionActions
@inject ISerializer serializer

@inherits BaseComponent

@if (!hasWallet)
{
    NavigationManager.NavigateTo($"/wallet");
    return;
}

<div class="container mt-4">
    <h1>Pending Signatures</h1>
    Project ID: <span id="transactionID">@ProjectIdentifier</span>

    <NotificationComponent @ref="notificationComponent" />
    <PasswordComponent @ref="passwordComponent" />

    @if (!signaturesRequests.Any())
    {
        <p><em>No pending signatures yet...</em></p>
    }
    else
    {
        <!-- Signatures Details Section -->
        <div class="row mt-4">
            <div class="col">
                @if (messagesReceived)
                {
                    <div class="loader"></div>
                }
                else
                {
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header pb-0 p-3">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center">
                                        <h6 class="mb-0">Signatures</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive form-control">
                                    <table class="table align-items-center mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Investment amount</th>
                                                <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Received at</th>
                                                <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var signature in signaturesRequests.Where(_ => _ is { TransactionHex: not null, AmountToInvest: not null }))
                                            {
                                                <tr>
                                                    <td>@Money.Coins(signature.AmountToInvest ?? 0).ToUnit(MoneyUnit.BTC) @network.CoinTicker</td>
                                                    <td>@signature.TimeArrived.ToString("g")</td>
                                                    @if (signature.TimeApproved is null)
                                                    {
                                                        <td><button class="btn btn-success" @onclick="() => ApproveSignature(signature)">Approve</button></td>
                                                    }
                                                    else
                                                    {
                                                        <td>Approved on - @signature.TimeApproved.ToString()</td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>

    }
</div>

@code {
    [Parameter]
    public string ProjectIdentifier { get; set; }

    public FounderProject FounderProject { get; set; }
    private List<SignatureRequest> signaturesRequests = new();
    private IJSInProcessObjectReference? javascriptNostrToolsModule;

    bool messagesReceived;
    bool scanedForApprovals;

    protected override async Task OnInitializedAsync()
    {
        Logger.LogDebug("OnInitializedAsync");
        if (hasWallet)
        {
            FounderProject = Storage.GetFounderProjects()
                .FirstOrDefault(_ => _.ProjectInfo.ProjectIdentifier == ProjectIdentifier)
                             ?? throw new ArgumentException("The project was not found, try to scan in the founder page");

            await FetchPendingSignatures(FounderProject);
        }
        Logger.LogDebug("End of OnInitializedAsync");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Logger.LogDebug("OnAfterRenderAsync");
        if (javascriptNostrToolsModule == null && signaturesRequests.Any())
        {
            try
            {
                Logger.LogDebug("load nostr tools");
                //TODO import the nostr tool module directly to c# class
                javascriptNostrToolsModule = await JS.InvokeAsync<IJSInProcessObjectReference>("import", "./NostrToolsMethods.js?version=" + DateTime.UtcNow.Ticks);
            }
            catch (JSException e)
            {
                Console.WriteLine(e);
                notificationComponent.ShowErrorMessage(e.Message);
                return;
            }
        }

        await FetchSignaturesCheckPassword();
    }

    protected async Task FetchSignaturesCheckPassword()
    {
        if (signaturesRequests.Any(x => x.AmountToInvest == null))
        {
            if (passwordComponent.HasPassword())
            {
                await FetchSignatures();
            }
            else
            {
                passwordComponent.ShowPassword(FetchSignatures);
            }
        }
    }

    protected async Task FetchSignatures()
    {
        Logger.LogDebug("handled = {Count}, total = {SignaturesRequestsCount}", signaturesRequests.Count(x => x.AmountToInvest.HasValue), signaturesRequests.Count);

        if (signaturesRequests.Any(x => x.AmountToInvest == null))
        {
            if (!scanedForApprovals)
            {
                FetchFounderApprovalsSignatures(FounderProject);
                return;
            }

            if (!passwordComponent.HasPassword())
            {
                notificationComponent.ShowErrorMessage("no wallet password");
                return;
            }

            var words = await passwordComponent.GetWalletAsync();

            var nostrPrivateKey = await DerivationOperations.DeriveProjectNostrPrivateKeyAsync(words, FounderProject.ProjectIndex);

            var nostrPrivateKeyHex = Encoders.Hex.EncodeData(nostrPrivateKey.ToBytes());

            foreach (var pendingSignature in signaturesRequests.Where(_ => _.AmountToInvest == null))
            {
                pendingSignature.TransactionHex = await javascriptNostrToolsModule.InvokeAsync<string>(
                    "decryptNostr",
                    nostrPrivateKeyHex,
                    pendingSignature.investorPubKey,
                    pendingSignature.TransactionHex);

                try
                {
                    var investorTrx = _networkConfiguration.GetNetwork().CreateTransaction(pendingSignature.TransactionHex);

                    pendingSignature.AmountToInvest = investorTrx.Outputs.AsIndexedOutputs().Skip(2).Take(investorTrx.Outputs.Count - 3) //Todo get the actual outputs with taproot type
                        .Sum(_ => _.TxOut.Value.ToUnit(MoneyUnit.BTC));
                }
                catch (Exception e)
                {
                    Console.WriteLine(e);
                    Logger.LogDebug(pendingSignature.TransactionHex);
                    pendingSignature.TransactionHex = null;
                }
            }
            Logger.LogDebug($"Calling StateHasChanged in OnAfterRenderAsync");
            messagesReceived = false;
            StateHasChanged();
        }

        Logger.LogDebug("OnAfterRenderAsync Completed");
    }

    private async Task FetchPendingSignatures(FounderProject project)
    {
        await SignService.LookupInvestmentRequestsAsync(project.ProjectInfo.NostrPubKey, null,// project.LastRequestForSignaturesTime , async
            (eventId, investorPubKey, encryptedMessage, timeArrived) =>
        {
            Logger.LogDebug($"Sig request event received investorPubKey: {investorPubKey} - timeArrived: {timeArrived}");

            var sigReq = signaturesRequests.FirstOrDefault(_ => _.investorPubKey == investorPubKey);

            if (sigReq != null)
            {
                if (sigReq.TimeArrived < timeArrived)
                {
                    Logger.LogDebug($"Sig request event received is replaced");

                    // this is a newer sig request so replace it
                    signaturesRequests.Remove(sigReq);
                }
                else
                {
                    return; //multiple relays could mean the same massage multiple times
                }
            }

            Logger.LogDebug($"Sig request event received is new");

            messagesReceived = true;

            var signatureRequest = new SignatureRequest
                {
                    investorPubKey = investorPubKey,
                    TimeArrived = timeArrived,
                    TransactionHex = encryptedMessage, //To be encrypted after js interop is loaded
                    EventId = eventId
                };

            signaturesRequests.Add(signatureRequest);
            Logger.LogDebug($"Added to pendingSignatures");
        },
            () =>
            {
                Logger.LogDebug($"End of messages");

                if (!messagesReceived)
                    return;

                Logger.LogDebug($"Calling StateHasChanged in EOSE");
                StateHasChanged();
            });
    }

    private void FetchFounderApprovalsSignatures(FounderProject project)
    {
        SignService.LookupInvestmentRequestApprovals(project.ProjectInfo.NostrPubKey,
            (investorPubKey, timeApproved, reqEventId) =>
            {
                Logger.LogDebug($"Sig response event received investorPubKey: {investorPubKey} - timeApproved: {timeApproved} - reqEventId: {reqEventId}");

                var signatureRequest = signaturesRequests.FirstOrDefault(_ => _.investorPubKey == investorPubKey);

                if (signatureRequest is null || signatureRequest.TimeApproved != null)
                    return; //multiple relays could mean the same massage multiple times

                if (signatureRequest.TimeArrived > timeApproved)
                {
                    Logger.LogDebug($"The event received is replaced by time");
                    return; // sig of an old request
                }

                if (reqEventId != null && signatureRequest.EventId != reqEventId)
                {
                    Logger.LogDebug($"The event received is replaced by eventid");
                    return; // sig of an old request
                }

                Logger.LogDebug($"The event received is new");

                signatureRequest.TimeApproved = timeApproved;

                Logger.LogDebug($"Added to pendingSignatures");
            },
            () =>
            {
                scanedForApprovals = true;

                if (signaturesRequests.Any(_ => _.TimeApproved != null))
                {
                    var latestApprovedTime = signaturesRequests
                        .Where(x => x.TimeApproved != null)
                        .Max(x => x.TimeArrived);

                    if (FounderProject.LastRequestForSignaturesTime is null || FounderProject.LastRequestForSignaturesTime < latestApprovedTime)
                    {
                        FounderProject.LastRequestForSignaturesTime = latestApprovedTime;
                        Storage.UpdateFounderProject(FounderProject);
                    }
                }

                Logger.LogDebug($"Calling StateHasChanged in EOSE");
                StateHasChanged();
                Logger.LogDebug($"End of messages on EOSE");
            });
    }

    protected async Task ApproveSignatureCheckPassword(SignatureRequest signature)
    {
        if (passwordComponent.HasPassword())
        {
            await ApproveSignature(signature);
        }
        else
        {
            passwordComponent.ShowPassword(async () =>
            {
                await ApproveSignature(signature); ;
            });
        }
    }

    private async Task ApproveSignature(SignatureRequest signature)
    {
        var operationResult = await notificationComponent.LongOperation(async () =>
        {
            var words = await passwordComponent.GetWalletAsync();

            var key = DerivationOperations.DeriveFounderRecoveryPrivateKey(words, FounderProject.ProjectIndex);

            var signatureInfo = signProject(signature.TransactionHex, FounderProject.ProjectInfo, Encoders.Hex.EncodeData(key.ToBytes()));

            var sigJson = serializer.Serialize(signatureInfo);

            var nostrPrivateKey = await DerivationOperations.DeriveProjectNostrPrivateKeyAsync(words, FounderProject.ProjectIndex);

            var nostrPrivateKeyHex = Encoders.Hex.EncodeData(nostrPrivateKey.ToBytes());

            var encryptedContent = await javascriptNostrToolsModule.InvokeAsync<string>(
                "encryptNostr",
                nostrPrivateKeyHex,
                signature.investorPubKey,
                sigJson);

            FounderProject.LastRequestForSignaturesTime = SignService.SendSignaturesToInvestor(encryptedContent, nostrPrivateKeyHex, signature.investorPubKey, signature.EventId);

            Storage.UpdateFounderProject(FounderProject);

            signaturesRequests.Single(_ => _.investorPubKey == signature.investorPubKey && _.TimeApproved is null)
                .TimeApproved = FounderProject.LastRequestForSignaturesTime;

            return new OperationResult { Success = true };
        });

        if (operationResult.Success)
        {
            passwordComponent.ClearPassword();
            StateHasChanged();
        }
        else
        {
            notificationComponent.ShowErrorMessage(operationResult.Message);
        }
    }

    private SignatureInfo signProject(string transactionHex, ProjectInfo info, string founderSigningPrivateKey)
    {
        var investorTrx = _networkConfiguration.GetNetwork().CreateTransaction(transactionHex);

        // build sigs
        var recoveryTrx = InvestorTransactionActions.BuildRecoverInvestorFundsTransaction(info, investorTrx);
        var sig = FounderTransactionActions.SignInvestorRecoveryTransactions(info, transactionHex, recoveryTrx, founderSigningPrivateKey);

        if (!InvestorTransactionActions.CheckInvestorRecoverySignatures(info, investorTrx, sig))
            throw new InvalidOperationException();

        return sig;
    }

    public class SignatureRequest
    {
        public string investorPubKey { get; set; }

        public decimal? AmountToInvest { get; set; }

        public DateTime TimeArrived { get; set; }
        public DateTime? TimeApproved { get; set; }

        public string? TransactionHex { get; set; }

        public string EventId { get; set; }
    }
}