@page "/spend/{ProjectId}"
@using Angor.Shared
@using Angor.Client.Storage
@using Angor.Shared.Models
@using Angor.Shared.ProtocolNew
@using Angor.Shared.Services
@using Blockcore.Consensus.TransactionInfo
@using Blockcore.NBitcoin
@using Blockcore.NBitcoin.DataEncoders
@using Angor.Shared.Utilities

@inject IClientStorage Storage;
@inject ICacheStorage CacheStorage;
@inject IIndexerService IndexerService
@inject INetworkConfiguration NetworkConfiguration
@inject IDerivationOperations DerivationOperations
@inject IWalletOperations WalletOperations
@inject IFounderTransactionActions FounderTransactionActions
@inject ILogger<Recover> Logger;

@inherits BaseComponent

@if (!HasWallet)
{
    NavigationManager.NavigateTo($"/wallet");
    return;
}

<div class="container my-4">
    <h1>Founder Stage Claim</h1>
    <h5 class="card-title">Project Identifier: @_project.ProjectIdentifier</h5>

    <NotificationComponent @ref="NotificationComponent" />
    
    @if (_firstTimeRefreshSpinner && _refreshSpinner)
    {
        <div class="d-flex justify-content-center">
            <div class="loader"></div>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary mb-2" @onclick="RefreshBalance" disabled="@_refreshSpinner">
                @if (_refreshSpinner)
                {
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span>Refresh...</span>
                }
                else
                {
                    <span>Refresh</span>
                }
            </button>
        </div>
    }

    @foreach (var stage in _stageDatas)
    {
        bool stageisActive = stage.Stage.ReleaseDate < DateTime.UtcNow;
        var investedCount = stage.Items.Count(c => c.IsSpent == false);
        var investedAmount = stage.Items.Where(c => c.IsSpent == false).Sum(c => c.Amount);

        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">Stage @stage.StageIndex (@stage.Stage.AmountToRelease %) - @investedAmount @Network.CoinTicker (@investedCount trx) </h5>
                    @if (stageisActive)
                    {
                        <button class="btn btn-success" disabled="@(investedCount == 0 || stage.StagePinner == true)" @onclick="() => ClaimCoins(stage.StageIndex)">
                            @if (stage.StagePinner)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span>Building trx...</span>
                            }
                            else
                            {
                                <span>Claim Coins</span>
                            }
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-warning" disabled>In @((stage.Stage.ReleaseDate - DateTime.UtcNow).Days) Days</button>
                    }
                    
                </div>
                <p class="card-subtitle text-muted mb-2">Estimated completion time: @stage.Stage.ReleaseDate.ToString("dd/MM/yyyy")</p>

                <button @onclick="() => Expand(stage.StageIndex)" class="btn btn-link d-block text-decoration-none text-end">
                    <i class="bi bi-chevron-double-down"></i> Expand
                </button>


                @if (stage.StageIndex == _expandedStageId)
                {
                    <div class="mt-3">
                        @foreach (var transaction in stage.Items)
                        {
                            bool isTicked = _selected.ContainsKey(transaction.Trxid);

                            <div class="d-flex mb-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" disabled="@(!stageisActive || transaction.IsSpent)" value="@isTicked" @onclick="() => HandleCheckboxChange(transaction.Trxid)" />
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <p class="mb-0">
                                        @transaction.Amount @Network.CoinTicker - utxo : @transaction.Trxid-@transaction.Outputindex

                                        @if (transaction.IsSpent)
                                        {
                                            <p class="text-primary">spent</p>
                                        }
                                        else
                                        {
                                            <p class="text-success">unspent</p>
                                        }

                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
    
    @if (_showCreateModal)
    {
        <!-- Confirmation Modal -->
        <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0, 0, 0, 0.5)">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation</h5>
                        <button type="button" class="btn-close" @onclick="() => _showCreateModal = false" disabled="@_spendSpinner"></button>
                    </div>
                    <div class="modal-body modal-body-scroll">
                        
                        <p class="mb-1"><strong>Project Identifier:</strong> @_project.ProjectIdentifier</p>

                        <p class="mb-1">The transactions to be spent @_signedTransaction.Outputs.Sum(s => s.Value.ToUnit(MoneyUnit.BTC)) @Network.CoinTicker</p>

                        <hr>

                        <div class="mb-3">
                            <label for="feeRange" class="form-label">Feerate for @_feeData.SelectedFeeEstimation.Confirmations blocks is @_feeData.SelectedFeeEstimation.FeeRate sats</label>
                            <input type="range" class="form-range" id="feeRange" @bind="_feeData.FeePosition" @oninput="FeeRangeChanged" min="@_feeData.FeeMin" max="@_feeData.FeeMax">
                        </div>

                        <hr>

                        <h6 class="mt-3 mb-2">Stages</h6>
                        @foreach (var item in _selected)
                        {
                            <p style="font-size: 0.7em;" class="mb-1">@item.Key</p>
                        }

                        <hr>

                        <p class="mt-3">Are you sure you want to continue?</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="() => _showCreateModal = false" disabled="@_spendSpinner">Cancel</button>
                        <button type="button" class="btn btn-primary" @onclick="Send" disabled="@_spendSpinner">
                            @if (_spendSpinner)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span>Confirm...</span>
                            }
                            else
                            {
                                <span>Confirm</span>
                            }
                        </button>
                    </div>
                </div>
            </div>
        </div>

    }

</div>


@code {
    [Parameter]
    public string ProjectId { get; set; }

    private int? _expandedStageId;
    private bool _showCreateModal;

    private bool _refreshSpinner = false;
    private bool _firstTimeRefreshSpinner = false;
    private bool _spendSpinner = false;

    private ProjectInfo _project;

    private FeeData _feeData = new();

    List<(Transaction Transaction, string TrxId)> _transactions = new();

    Dictionary<string, string> _selected = new();

    public class StageData
    {
        public int StageIndex;
        public Stage Stage;
        public List<StageDataTrx> Items = new ();
        public bool StagePinner = false;
    }

    public class StageDataTrx
    {
        public string Trxid;
        public int Outputindex;
        public string OutputAddress;
        public decimal Amount;
        public bool IsSpent;
    } 

    List<StageData> _stageDatas = new();

    Transaction _signedTransaction;
    FounderContext _founderContext;
    int _selectedStageId;

    protected override async Task OnInitializedAsync()
    {
        _project = Storage.GetFounderProjects().FirstOrDefault(p => p.ProjectInfo.ProjectIdentifier == ProjectId)?.ProjectInfo;

        _firstTimeRefreshSpinner = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (HasWallet)
            {
                await RefreshBalance();
            }
        }
    }

    private async Task RefreshBalance()
    {
        _refreshSpinner = true;
        StateHasChanged();
        await Task.Delay(10);

        try
        {
            await FindInvestments();

            await CheckSpentFund();
        }
        catch (Exception e)
        {
            Logger.LogError(e, e.Message);
            NotificationComponent.ShowErrorMessage(e.Message);
        }
        finally
        {
            _refreshSpinner = false;
            _firstTimeRefreshSpinner = false;
        }

        StateHasChanged();
        await Task.Delay(10);
    }

    private async Task FindInvestments()
    {
        var trxs = await IndexerService.GetInvestmentsAsync(_project.ProjectIdentifier);

        var trxList = _transactions.ToList();

        var tasks = trxs
            .Where(a => trxList.All(b => b.TrxId != a.TransactionId))
        .Select(async _ =>
        {
            var hex = await IndexerService.GetTransactionHexByIdAsync(_.TransactionId);
            return new { hex, _.TransactionId };
        });

        var trxHexList = await Task.WhenAll(tasks);

        // lets reuse this list
        trxList.Clear();

        foreach (var trx in trxHexList)
        {
            trxList.Add((Network.CreateTransaction(trx.hex), trx.TransactionId));
        }

        if(!_stageDatas.Any())
        {
            int stageIndex = 0;
            foreach (var stage in _project.Stages)
            {

                var stageItem = new StageData
                {
                    Stage = stage,
                    StageIndex = stageIndex + 1,
                };

                stageIndex++;
                _stageDatas.Add(stageItem);
            }
        }

        foreach (var stageItem in _stageDatas)
        {
            foreach (var item in trxList)
            {
                var insert = new StageDataTrx
                {
                    Trxid = item.TrxId,
                    OutputAddress = item.Transaction.Outputs[stageItem.StageIndex + 1].ScriptPubKey.WitHash.GetAddress(Network).ToString(),
                    Outputindex = stageItem.StageIndex + 1,
                    Amount = item.Transaction.Outputs[stageItem.StageIndex + 1].Value.ToUnit(MoneyUnit.BTC),
                };

                stageItem.Items.Add(insert);
                _transactions.Add(item);
            }
        }
    }

    private async Task CheckSpentFund()
    {
        List<QueryTransaction> trxs = new();
        var unconfirmedOutbound = CacheStorage.GetUnconfirmedOutboundFunds();
        bool updateUnconfirmedOutbound = false;

        foreach (StageData stageData in _stageDatas)
        {
            foreach (var item in stageData.Items)
            {
                if (item.IsSpent)
                    continue;

                QueryTransaction? trx = trxs.FirstOrDefault(f => f.TransactionId == item.Trxid);

                if (trx == null)
                {
                    trx = await IndexerService.GetTransactionInfoByIdAsync(item.Trxid);

                    trxs.Add(trx);
                }

                var output = trx.Outputs.First(outp => outp.Index == item.Outputindex);

                if (!string.IsNullOrEmpty(output.SpentInTransaction))
                {
                    item.IsSpent = true;

                    updateUnconfirmedOutbound |= LinqExtension.Remove(unconfirmedOutbound, new Outpoint(item.Trxid, item.Outputindex));

                    continue;
                }

                item.IsSpent = LinqExtension.Contains(unconfirmedOutbound, new Outpoint(item.Trxid, item.Outputindex));
            }
        }

        if (updateUnconfirmedOutbound)
        {
            CacheStorage.SetUnconfirmedOutboundFunds(unconfirmedOutbound);
        }
    }

    private async Task ClaimCoins(int stageId)
    {
        var stage = _stageDatas.First(s => s.StageIndex == stageId);

        stage.StagePinner = true;

        StateHasChanged();
        await Task.Delay(10);

        try
        {
            _selectedStageId = stageId;

            var fetchFees = await WalletOperations.GetFeeEstimationAsync();
            _feeData.FeeEstimations.Fees.Clear();
            _feeData.FeeEstimations.Fees.AddRange(fetchFees);
            _feeData.SelectedFeeEstimation = _feeData.FeeEstimations.Fees.First();

            _founderContext = new FounderContext { ProjectInfo = _project, ProjectSeeders = new ProjectSeeders() };

            foreach (var item in _selected)
            {
                var trx = _transactions.First(f => f.TrxId == item.Key);

                _founderContext.InvestmentTrasnactionsHex.Add(trx.Transaction.ToHex(Network.Consensus.ConsensusFactory));
            }

            var accountInfo = Storage.GetAccountInfo(Network.Name);
            var address = accountInfo.GetNextReceiveAddress();
            var addressScript = BitcoinWitPubKeyAddress.Create(address, Network).ScriptPubKey;

            var keys = WalletStorage.GetFounderKeys().Keys.First(k => k.ProjectIdentifier == _project.ProjectIdentifier);

            var key = DerivationOperations.DeriveFounderPrivateKey(WalletStorage.GetWallet().WalletWords, keys.Index);

            _signedTransaction = FounderTransactionActions.SpendFounderStage(_founderContext.ProjectInfo, _founderContext.InvestmentTrasnactionsHex, _selectedStageId, addressScript, Encoders.Hex.EncodeData(key.ToBytes()), _feeData.SelectedFeeEstimation);

            _showCreateModal = true;
        }
        catch (Exception e)
        {
            Logger.LogError(e, e.Message);
            NotificationComponent.ShowErrorMessage(e.Message);
        }
        finally
        {
            stage.StagePinner = false;
        }
    }

    private void FeeRangeChanged(ChangeEventArgs e)
    {
        var selectedItem = e.Value?.ToString();

        if (selectedItem != null)
        {
            if (int.TryParse(selectedItem, out int res))
            {
                if (res <= _feeData.FeeEstimations.Fees.Count)
                {
                    _feeData.SelectedFeeEstimation = _feeData.FeeEstimations.Fees.OrderBy(fee => fee.Confirmations).ToList()[res - 1];

                    var accountInfo = Storage.GetAccountInfo(Network.Name);
                    var address = accountInfo.GetNextReceiveAddress();
                    var addressScript = BitcoinWitPubKeyAddress.Create(address, Network).ScriptPubKey;

                    var keys = WalletStorage.GetFounderKeys().Keys.First(k => k.ProjectIdentifier == _project.ProjectIdentifier);
                    var key = DerivationOperations.DeriveFounderPrivateKey(WalletStorage.GetWallet().WalletWords, keys.Index);

                    _signedTransaction = FounderTransactionActions.SpendFounderStage(_founderContext.ProjectInfo, _founderContext.InvestmentTrasnactionsHex, _selectedStageId, addressScript, Encoders.Hex.EncodeData(key.ToBytes()), _feeData.SelectedFeeEstimation);

                    StateHasChanged();
                }
            }
        }
    }

    private async Task Send()
    {
        _spendSpinner = true;

        StateHasChanged();
        await Task.Delay(10);

        try
        {
            _showCreateModal = false;

            var response = await WalletOperations.PublishTransactionAsync(Network, _signedTransaction);

            if (!response.Success)
            {
                NotificationComponent.ShowErrorMessage(response.Message);
                return;
            }

            // add all outptus to the pending list
            var accountInfo = Storage.GetAccountInfo(Network.Name);
            var unconfirmedInbound = CacheStorage.GetUnconfirmedInboundFunds();
            var pendingInbound = WalletOperations.UpdateAccountUnconfirmedInfoWithSpentTransaction(accountInfo, _signedTransaction);
            unconfirmedInbound.AddRange(pendingInbound);
            CacheStorage.SetUnconfirmedInboundFunds(unconfirmedInbound);

            var unconfirmedOutbound = CacheStorage.GetUnconfirmedOutboundFunds();
            unconfirmedOutbound.AddRange(_signedTransaction.Inputs.Select(_ => new Outpoint(_.PrevOut.Hash.ToString(), (int)_.PrevOut.N)));
            CacheStorage.SetUnconfirmedOutboundFunds(unconfirmedOutbound);

            // mark stage as spent
            _stageDatas.FirstOrDefault(_ => _.StageIndex == _selectedStageId)?.Items.ForEach(_ =>
            {
                if (_signedTransaction.Inputs.Any(a => _.Trxid == a.PrevOut.Hash.ToString() && _.Outputindex == a.PrevOut.N))
                    _.IsSpent = true;
            });

            NotificationComponent.ShowNotificationMessage("Done", 1);
        }
        catch (Exception e)
        {
            Logger.LogError(e, e.Message);
            NotificationComponent.ShowErrorMessage(e.Message);
        }
        finally
        {
            _spendSpinner = false;
        }
    }

    private void Expand(int stageId)
    {
        _expandedStageId = _expandedStageId == stageId ? null : stageId;
    }

    private void HandleCheckboxChange(string trxId)
    {
        
        if (_selected.ContainsKey(trxId))
        {
            _selected.Remove(trxId);
        }
        else
        {
            _selected.Add(trxId, null);
        }
    }
}