@page "/view/{ProjectId}"
@using Angor.Shared
@using Angor.Client.Storage
@using Angor.Shared.Models
@using Blockcore.NBitcoin
@using Angor.Shared.Services
@using Angor.Client.Models
@using Nostr.Client.Messages

@inject IDerivationOperations _derivationOperations
@inject IClientStorage storage;
@inject ICacheStorage SessionStorage;
@inject NavigationManager NavigationManager
@inject INetworkConfiguration _NetworkConfiguration
@inject IClipboardService _clipboardService
@inject IIndexerService _IndexerService
@inject IRelayService _RelayService
@inject  ISerializer serializer

@inherits BaseComponent

<div class="container mt-4">
    <h1>View Project</h1>

    <NotificationComponent @ref="notificationComponent" />

    @if (project?.ProjectInfo == null)
    {
        @if (findInProgress)
        {
            <div class="d-flex justify-content-center">
                <div class="loader"></div>
            </div>
        }
        else
        {
            <p><em>project not found...</em></p>
        }
    }
    else
    {
        <!-- Project Details Section -->
        <div class="card mb-3">
            <div class="card-header">
                <h4>@project.ProjectInfo.ProjectIdentifier</h4>
            </div>
            <div class="card-body">

                @if (project.ProjectInfo.NostrPubKey != null)
                {
                    var metadata = project.Metadata;

                    if (metadata?.Banner != null)
                    {
                        <div class="card-header overflow-hidden">
                            <img class="card-img-top" src="@metadata.Banner" alt="" />
                        </div>
                    }

                    <br />
                    <h3 class="card-title">@metadata?.Name</h3>
                    <p class="card-subtitle">@metadata?.About</p>
                    <hr />
                }

                <a href="@projectExplorerLink" target="_blank">View the transaction on the explorer.</a>
                <p class="card-text">Project Identifier: @project.ProjectInfo.ProjectIdentifier</p>
                <p class="card-text">Founder Key: @project.ProjectInfo.FounderKey</p>
                <p class="card-text">Target Amount: @project.ProjectInfo.TargetAmount @network.CoinTicker</p>
                <p class="card-text">Penalty duration: @project.ProjectInfo.PenaltyDays days</p>

                <p class="card-text">
                    Project dates: @project.ProjectInfo.StartDate.ToString("dd/MM/yyyy") - @project.ProjectInfo.ExpiryDate.ToString("dd/MM/yyyy")
                </p>

                @{
                    int startsInDays = (project.ProjectInfo.StartDate - DateTime.Now).Days;

                    if (startsInDays > 0)
                    {
                        <p class="card-text">Starts in @startsInDays days</p>
                    }
                    else
                    {
                        int totalDays = (project.ProjectInfo.ExpiryDate - project.ProjectInfo.StartDate).Days;
                        int currentDays = (DateTime.Now - project.ProjectInfo.StartDate).Days;
                        currentDays = currentDays < 0 ? 0 : currentDays;
                        currentDays = currentDays > totalDays ? totalDays : currentDays;

                        var completePercent = 0;

                        if (totalDays > 0)
                            completePercent = (currentDays * 100) / totalDays;

                        <div class="progress mb-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: @completePercent%;" aria-valuenow="@completePercent" aria-valuemin="0" aria-valuemax="100">@currentDays/@totalDays days</div>
                        </div>
                    }

                }
            </div>
        </div>

        <!-- Stats Section -->
        <div class="card mb-3">
            <div class="card-header">
                <h4>Stats</h4>
            </div>
            <div class="card-body">
                <!-- Progress bar section -->
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" style="width: @projectStats.FundingProgressPercent%;" aria-valuenow="@projectStats.FundingProgressPercent" aria-valuemin="0" aria-valuemax="100">@projectStats.FundingProgressPercent%</div>
                </div>

                <!-- Additional details section -->
                <div class="row align-items-center">
                    <div class="col-md-8">

                        @if (projectStats.Loading)
                        {
                            <div class="loader"></div>
                        }
                        else
                        {
                            <p class="card-text mb-0">Total Raised: @Money.Satoshis(projectStats.TotalRaised).ToUnit(MoneyUnit.BTC) @network.CoinTicker</p>
                            <p class="card-text mb-0">Total Investors: @projectStats.TotalInvestors</p>
                            @* <p class="card-text mb-0">Total Seeders: @projectStats.TotalSeeders</p>*@
                            <p class="card-text mb-0">Time Left for Investing: @projectStats.TimeLeft days</p>
                        }

                    </div>
                </div>
            </div>
        </div>

        <!-- Stages Section -->
        <div class="card mb-3">
            <div class="card-header">
                <h4>Stages</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive form-control">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Stage </th>
                                <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Stage %</th>
                                <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Release Date</th>
                                <!-- Other headers -->
                            </tr>
                        </thead>
                        <tbody>
                            @for (int index = 0; index < project.ProjectInfo.Stages.Count; index++)
                            {
                                <tr>
                                    <td>@(index + 1)</td>
                                    <td>@project.ProjectInfo.Stages[index].AmountToRelease %</td>
                                    <td>@project.ProjectInfo.Stages[index].ReleaseDate.ToString("dd/MM/yyyy")</td>
                                    <!-- Other stage details -->
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Seeders Section -->
        @*        <div class="card mb-3">
    <div class="card-header">
    <h4>Selected Seeders</h4>
    </div>
    <div class="card-body">
    @if (SelectedSeeders.Any())
    {
    <!-- Seeders table -->
    }
    else
    {
    <p><i class="bi bi-exclamation-triangle-fill"></i> No seeders yet.</p>
    }
    </div>
    </div>*@

        <!-- Actions Section -->
        <div class="card mb-3">
            <div class="card-header">
                <h4>Actions</h4>
            </div>
            <div class="card-body">
                @if (founder)
                {
                    <p>You are the founder.</p>

                    <div class="mb-3">
                        <!-- Buttons Spend Funds and Approve Signature next to each other -->
                        <NavLink href=@($"/spend/{project.ProjectInfo.ProjectIdentifier}") class="btn btn-primary me-2">Spend Funds</NavLink>
                        <NavLink href=@($"/signatures/{project.ProjectInfo.ProjectIdentifier}") class="btn btn-primary">Approve signature</NavLink>
                    </div>
                }
                else if (invested)
                {
                    <p>
                        You have already invested in this project.

                        <a href="@myProjectExplorerLink" target="_blank">View the transaction on the explorer.</a>
                    </p>

                    <button class="btn btn-danger" @onclick="RecoverFunds">Recover</button>
                }
                else
                {
                    <button class="btn btn-primary" data-cy="INVEST_BUTTON" @onclick="InvestInProject">Invest</button>
                }
            </div>
        </div>


        <!-- Relays Section -->
        <div class="card mb-3">
            <div class="card-header">
                <h4>Nostr</h4>
            </div>
            <div class="card-body">
                @if (project.ProjectInfo.NostrPubKey != null)
                {
                    <div class="mb-3">
                        <label for="NostrPublicKey" class="form-label">Project NOSTR public key (hex)</label>
                        <div class="input-group">
                            <InputText id="NostrPublicKey" @bind-Value="project.ProjectInfo.NostrPubKey" class="form-control" placeholder="@project.ProjectInfo.NostrPubKey" readonly />
                           @if (founder)
                           {
                               <button @onclick="CopyNsecToClipboardAsyncCheckPassword" class="btn btn-success">Copy NSec to clipboard</button>
                           }
                        </div>
                    </div>
                }

                <br/>
                <h6>Relays</h6>
                @foreach (var relay in NostrClients)
                {
                    <a href="@relay" target="_blank" class="d-block mb-2">
                        <i class="bi bi-globe"></i> @relay
                    </a>
                }
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string ProjectId { get; set; }

    private Project? project;

    private bool sendConfirmModal;

    string myProjectExplorerLink;
    string projectExplorerLink;

    private List<(string Hash, int Amount)> SelectedSeeders = new List<(string hash, int amount)>
    {
        { (new uint256().ToString(), 10) },
        { (new uint256().ToString(), 20) },
    };

    public class ProjectStats
    {
        public bool Loading { get; set; }
        public long TotalRaised { get; set; }
        public int TotalInvestors { get; set; }
        public int TotalSeeders { get; set; }
        public int TimeLeft { get; set; }
        public int FundingProgressPercent { get; set; }

    };

    ProjectStats projectStats = new ProjectStats
        {
            Loading = true,
            TimeLeft = 0,
            TotalInvestors = 0,
            TotalRaised = 0,
            TotalSeeders = 0,
            FundingProgressPercent = 0,
        };

    bool founder = false;
    bool invested = false;
    bool findInProgress = false;

    private List<string> NostrClients = new();

    protected override async Task OnInitializedAsync()
    {
        NostrClients = _NetworkConfiguration.GetDefaultRelayUrls().Select(_ => _.Url.ToString()).ToList();

        project = storage.GetInvestmentProjects().FirstOrDefault(p => p.ProjectInfo.ProjectIdentifier == ProjectId);

        if (project is InvestorProject findProject)
        {
            invested = findProject.InvestedInProject(); // TODO need to scan for the invested projects when opening on a new browsers
            myProjectExplorerLink = _NetworkConfiguration.GetExplorerUrl().Url + $"/transaction/{findProject.TransactionId}";
        }
        else
        {
            project = storage.GetFounderProjects().FirstOrDefault(p => p.ProjectInfo.ProjectIdentifier == ProjectId);

            if (project != null)
            {
                founder = true;
            }
            else
            {
                project = SessionStorage.GetProjectById(ProjectId);

                if (project == null)
                {
                    findInProgress = true;

                    var projectIndexerData = await _IndexerService.GetProjectByIdAsync(ProjectId);

                    if (projectIndexerData != null)
                    {
                        project = new Project { CreationTransactionId = projectIndexerData.TrxId };
                        _RelayService.RequestProjectCreateEventsByPubKey(e =>
                        {
                            if (project != null)
                            {
                                switch (e)
                                {
                                    case { Kind: NostrKind.Metadata }:
                                        var nostrMetadata = serializer.Deserialize<ProjectMetadata>(e.Content);
                                        project.Metadata ??= nostrMetadata;
                                        break;
                                    case { Kind: NostrKind.ApplicationSpecificData }:
                                        var projectInfo = serializer.Deserialize<ProjectInfo>(e.Content);
                                        project.ProjectInfo ??= projectInfo;
                                        break;
                                }
                            }
                        }, () =>
                        {
                            findInProgress = false;
                            if (project.ProjectInfo != null)
                                SessionStorage.StoreProject(project);
                            StateHasChanged();
                        },
                            new[] { projectIndexerData.NostrPubKey });
                    }
                }
            }
        }

        if (project?.CreationTransactionId != null)
        {
            projectExplorerLink = _NetworkConfiguration.GetExplorerUrl().Url + $"/transaction/{project.CreationTransactionId}";

            await RefreshBalance();
        }
    }

    private async Task RefreshBalance()
    {
        try
        {
            projectStats.Loading = true;

            if (project?.ProjectInfo != null)
            {
                var data = await _IndexerService.GetProjectStatsAsync(project.ProjectInfo.ProjectIdentifier);

                if (data != null)
                {
                    projectStats.TotalInvestors = (int)data.InvestorCount;
                    projectStats.TotalRaised = data.AmountInvested;

                    projectStats.TimeLeft = (project.ProjectInfo.ExpiryDate - DateTime.UtcNow).Days;
                    if (projectStats.TimeLeft < 0)
                        projectStats.TimeLeft = 0;

                    var targetSat = Money.Coins(project.ProjectInfo.TargetAmount).Satoshi;
                    projectStats.FundingProgressPercent = (int)((projectStats.TotalRaised * 100) / targetSat);
                }
            }
        }
        catch (Exception ex)
        {
            notificationComponent.ShowErrorMessage(ex.Message);
        }
        finally
        {
            projectStats.Loading = false;
        }

    }

    private async Task RecoverFunds()
    {
        NavigationManager.NavigateTo($"/recover/{ProjectId}");
    }

    private async Task InvestInProject()
    {
        if (hasWallet)
            NavigationManager.NavigateTo($"/invest/{ProjectId}");
        else
            notificationComponent.ShowNotificationMessage("You must create a wallet if you want to invest");
    }

    private async Task CopyNsecToClipboardAsyncCheckPassword()
    {
        if (!passwordComponent.HasPassword())
        {
            passwordComponent.ShowPassword(CopyNsecToClipboardAsync);
        }
        else
        {
            await CopyNsecToClipboardAsync();
        }
    }

    private async Task CopyNsecToClipboardAsync()
    {
        if (project is FounderProject founderProject)
        {
            var words = await passwordComponent.GetWalletAsync();
            var nostrKey = _derivationOperations.DeriveProjectNostrPrivateKey(words, founderProject.ProjectIndex);
            var nsec = NBitcoin.DataEncoders.Encoders.Hex.EncodeData(nostrKey.ToBytes());
            await _clipboardService.WriteTextAsync(nsec);
            StateHasChanged();
        }
    }
}