@page "/view/{ProjectId}"
@using Angor.Shared
@using Angor.Client.Storage
@using Angor.Shared.Models
@using Blockcore.NBitcoin
@using Angor.Shared.Services
@using Angor.Client.Models
@using Nostr.Client.Messages
@using System.Text.RegularExpressions

@inject IDerivationOperations _derivationOperations
@inject IClientStorage storage;
@inject ICacheStorage SessionStorage;
@inject NavigationManager NavigationManager
@inject INetworkConfiguration _NetworkConfiguration
@inject IClipboardService _clipboardService
@inject IIndexerService _IndexerService
@inject IRelayService _RelayService
@inject ISerializer serializer
@inject IJSRuntime Js;

@inherits BaseComponent
<NotificationComponent @ref="notificationComponent" />
<PasswordComponent @ref="passwordComponent" />

<div class="row">

    @if (project?.ProjectInfo == null)
    {
        @if (findInProgress)
        {
            <div class="d-flex justify-content-center">
                <div class="loader"></div>
            </div>
        }
        else
        {
            @if (!string.IsNullOrEmpty(error))
            {
                <div class="row mt-4">
                    <div class="card card-body angor-alert-info pt-2 pb-2">
                        <div class="d-flex align-items-center">
                            <span class="me-3 user-select-none">
                                <Icon IconName="info" Width="40" Height="40" Color="var(--bs-primary-btn-icon)" />
                            </span>
                            <span class="text-white">@error</span>
                        </div>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <!-- Project Details Section -->
        <div class="card card-body p-0">
            @if (project.ProjectInfo.NostrPubKey != null)
            {
                var metadata = project.Metadata;


                <div class="card-header p-0 overflow-hidden position-relative">
                    <img class="card-img-top card-img-top-view" src="@(metadata?.Banner ?? "/assets/img/no-image.jpg")" alt="" onerror="this.onerror=null; this.src='/assets/img/no-image.jpg';" />
                    <img class="profile-image-view rounded-circle" src="@(metadata?.Picture ?? "/assets/img/no-image.jpg")" alt="Profile Picture" onerror="this.onerror=null; this.src='/assets/img/no-image.jpg';" />
                </div>


                <div class="p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="d-flex align-items-center">
                            <span class="user-select-none">
                                <Icon IconName="view" Height="32" Width="32"></Icon>
                            </span>
                            <div class="h-100 ms-3">
                                <h5 class="mb-0 font-weight-bolder">
                                    <a href="/view/@project.ProjectInfo.ProjectIdentifier">@metadata?.Name</a>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <p class="card-subtitle">@((MarkupString)metadata?.About)</p>

                    <div class="row align-items-center">
                        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-2 mt-4">
                            <div class="form-control d-flex align-items-center">
                                <Icon IconName="explorer"></Icon>
                                <a class="ms-2" href="@projectExplorerLink" target="_blank">View the transaction on the explorer.</a>
                            </div>
                            @* <div class="form-control mt-1 d-flex align-items-center">
                    <Icon IconName="view"></Icon>
                    <p class="card-text ms-2">Project Identifier: @project.ProjectInfo.ProjectIdentifier</p>
                    </div>
                    <div class="form-control mt-1 d-flex align-items-center">
                    <Icon IconName="key"></Icon>
                    <p class="card-text ms-2">Founder Key: @project.ProjectInfo.FounderKey</p>
                    </div> *@
                            <div class="form-control mt-1 d-flex align-items-center">
                                <Icon IconName="balance"></Icon>
                                <p class="card-text ms-2">Target Amount: @project.ProjectInfo.TargetAmount @network.CoinTicker</p>
                            </div>
                            <div class="form-control mt-1 d-flex align-items-center">
                                <Icon IconName="calendar"></Icon>
                                <p class="card-text ms-2">Penalty duration: @project.ProjectInfo.PenaltyDays days</p>
                            </div>
                            <div class="form-control mt-1 d-flex align-items-center">
                                <Icon IconName="date"></Icon>
                                <p class="card-text ms-2">
                                    Project dates: @project.ProjectInfo.StartDate.ToString("dd/MM/yyyy") - @project.ProjectInfo.ExpiryDate.ToString("dd/MM/yyyy")
                                </p>
                            </div>

                        </div>
                        <div class="col-12 col-md-12 col-lg-4 order-1 order-md-1 d-flex justify-content-center align-items-center mt-4">
                            <div class="w-100">
                                @{
                                    int startsInDays = (project.ProjectInfo.StartDate - DateTime.Now).Days;

                                    if (startsInDays > 0)
                                    {
                                        <p class="card-text text-center">Starts in @startsInDays days</p>
                                    }
                                    else
                                    {
                                        int totalDays = (project.ProjectInfo.ExpiryDate - project.ProjectInfo.StartDate).Days;
                                        int currentDays = (DateTime.Now - project.ProjectInfo.StartDate).Days;
                                        currentDays = currentDays < 0 ? 0 : currentDays;
                                        currentDays = currentDays > totalDays ? totalDays : currentDays;

                                        if (totalDays > 0)
                                        {
                                            <div class="progress-container">
                                                <div role="progressbar" data-type="days" aria-valuenow="@currentDays" aria-valuemin="0" aria-valuemax="@totalDays" style="--day: @currentDays; --total: @totalDays;" data-day="@currentDays" data-total="@totalDays"></div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center mt-4 order-1 order-lg-1">
                            <div class="w-100">
                                <div class="progress-container">
                                    <div role="progressbar" data-type="percent" aria-valuenow="@projectStats.FundingProgressPercent" aria-valuemin="0" aria-valuemax="100" style="--value: @projectStats.FundingProgressPercent;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 mt-4 order-2 order-lg-2">
                            @if (projectStats.Loading)
                            {
                                <div class="loader"></div>
                            }
                            else
                            {
                                <div class="form-control mt-1 d-flex align-items-center">
                                    <Icon IconName="calculator"></Icon>
                                    <p class="card-text ms-2">Total Raised: @Money.Satoshis(projectStats.TotalRaised).ToUnit(MoneyUnit.BTC) @network.CoinTicker</p>
                                </div>
                                <div class="form-control mt-1 d-flex align-items-center">
                                    <Icon IconName="users"></Icon>
                                    <p class="card-text ms-2">Total Investors: @projectStats.TotalInvestors</p>
                                </div>
                                @* <p class="card-text mb-0">Total Seeders: @projectStats.TotalSeeders</p>*@
                                <div class="form-control mt-1 d-flex align-items-center">
                                    <Icon IconName="calendar"></Icon>
                                    <p class="card-text ms-2">Time Left for Investing: @projectStats.TimeLeft days</p>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            }
        </div>

        <!-- Stages Section -->

        <div class="card card-body mt-4">
            <div class="d-flex align-items-center">
                <span class="user-select-none">
                    <Icon IconName="stages"></Icon>
                </span>
                <div class="h-100 ms-3">
                    <h5 class="mb-0 font-weight-bolder">
                        Stages
                    </h5>
                </div>
            </div>
            <div class="table-responsive form-control mt-4">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Stage</th>
                            <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Stage %</th>
                            <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Release Date</th>
                            <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Days Until Stage</th>
                            <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Amount Per Stage</th>
                            <!-- Other headers -->
                        </tr>
                    </thead>
                    <tbody>
                        @for (int index = 0; index < project.ProjectInfo.Stages.Count; index++)
                        {
                            var stage = project.ProjectInfo.Stages[index];
                            var daysUntilStage = (stage.ReleaseDate - currentDate).Days;
                            var amountInStage = (Money.Satoshis(projectStats.TotalRaised).ToUnit(MoneyUnit.BTC)) * stage.AmountToRelease / 100;
                            <tr>
                                <td>@(index + 1)</td>
                                <td>@stage.AmountToRelease %</td>
                                <td>@stage.ReleaseDate.ToString("dd/MM/yyyy")</td>
                                <td>
                                    @if (daysUntilStage < 0)
                                    {
                                        <span>Released</span>
                                    }
                                    else
                                    {
                                        <span>@daysUntilStage days</span>
                                    }
                                </td>
                                <td>@amountInStage @network.CoinTicker</td>
                                <!-- Other stage details -->
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Seeders Section -->
        @*        <div class="card mb-3">
    <div class="card-header">
    <h4>Selected Seeders</h4>
    </div>
    <div class="card-body">
    @if (SelectedSeeders.Any())
    {
    <!-- Seeders table -->
    }
    else
    {
    <p><i class="bi bi-exclamation-triangle-fill"></i> No seeders yet.</p>
    }
    </div>
    </div>*@

        <!-- Actions Section -->

        <div class="card card-body mt-4">
            @if (founder)
            {
                <div class="text-center justify-content-center">
                    <Icon IconName="verified-check" Height="100" Width="100"></Icon>
                    <p class="mt-4 text-success">Congratulations, you are the founder!</p>
                    @* TODO Add stats here for pending signatures or unspent funds  *@

                    <div class="mb-3">
                        <!-- Buttons Spend Funds and Approve Signature next to each other -->
                        <NavLink href=@($"/spend/{project.ProjectInfo.ProjectIdentifier}") class="btn btn-secondary text-white me-2">Spend Funds</NavLink>
                        <NavLink href=@($"/signatures/{project.ProjectInfo.ProjectIdentifier}") class="btn btn-border">Approve signature</NavLink>
                    </div>
                </div>
            }
            else if (invested)
            {
                <div class="text-center justify-content-center">
                    <Icon IconName="cup" Height="100" Width="100"></Icon>
                    <p class="mt-4">
                        Thank you for your investment in this project!

                        <a href="@myProjectExplorerLink" target="_blank">Track your transaction on the explorer.</a>
                    </p>

                    <button class="btn btn-danger mb-3" @onclick="RecoverFunds">Recover</button>
                </div>
            }
            else
            {
                <div class="text-center justify-content-center mt-4">
                    <Icon IconName="shield-star" Height="100" Width="100"></Icon>
                    <p class="mt-4">
                        Seize the opportunity to invest in this project.
                    </p>
                    <button class="btn btn-secondary mb-3" data-cy="INVEST_BUTTON" @onclick="InvestInProject">Invest Now</button>
                </div>
            }
        </div>


        <!-- Relays Section -->
        <div class="card card-body mt-4">
            <div class="d-flex align-items-center">
                <span class="user-select-none">
                    <Icon IconName="relay"></Icon>
                </span>
                <div class="h-100 ms-3">
                    <h5 class="mb-0 font-weight-bolder">
                        Nostr
                    </h5>
                </div>
            </div>
            @if (project.ProjectInfo.NostrPubKey != null)
            {
                <div class="mb-4 mt-4">

                    <label for="NostrPublicKey" class="form-label">Project NOSTR public key (hex)</label>
                    <div class="input-group">
                        <InputText id="NostrPublicKey" @bind-Value="project.ProjectInfo.NostrPubKey" class="form-control" placeholder="@project.ProjectInfo.NostrPubKey" readonly />
                        <button @onclick="OpenInBrowseAsync" class="btn btn-border">
                            <Icon IconName="link"></Icon>
                        </button>
                    </div>


                    @if (founder)
                    {
                        <button @onclick="ShowNsecAsync" class="btn btn-success mt-4">Show private key</button>

                        @if (isGeneratingNsec)
                        {
                            <div class="d-flex justify-content-center mt-4">
                                <div class="loader"></div>
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(errorMessage))
                        {
                            <div class="mt-2 text-danger">
                                <span>@errorMessage</span>
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(NostrSecKey))
                        {
                            <br />
                            <label for="NostrSecKey" class="form-label mt-4">Project NOSTR private key (hex)</label>
                            <div class="input-group">
                                <InputText id="NostrSecKey" @bind-Value="NostrSecKey" class="form-control nsec-box" readonly />
                                <button @onclick="CopyNsecToClipboardAsync" class="btn btn-border">
                                    <Icon IconName="copy"></Icon>
                                </button>
                            </div>
                        }
                    }
                </div>
            }

            <br />
            <h6>Relays</h6>
            @foreach (var relay in NostrClients)
            {
                <a href="@relay" target="_blank">
                    <div class="form-control mt-2 d-flex align-items-center">
                        <Icon IconName="menu_open"></Icon>
                        <p class="card-text ms-2">@relay</p>
                    </div>
                </a>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public string ProjectId { get; set; }

    private Project? project;

    private bool sendConfirmModal;

    string myProjectExplorerLink;
    string projectExplorerLink;

    private string NostrSecKey { get; set; } = string.Empty;
    private bool isGeneratingNsec = false;
    private string errorMessage = string.Empty;
    
    private string error;

    private List<(string Hash, int Amount)> SelectedSeeders = new List<(string hash, int amount)>
    {
    { (new uint256().ToString(), 10) },
    { (new uint256().ToString(), 20) },
    };

    public class ProjectStats
    {
        public bool Loading { get; set; }
        public long TotalRaised { get; set; }
        public int TotalInvestors { get; set; }
        public int TotalSeeders { get; set; }
        public int TimeLeft { get; set; }
        public int FundingProgressPercent { get; set; }

    };

    ProjectStats projectStats = new ProjectStats
        {
            Loading = true,
            TimeLeft = 0,
            TotalInvestors = 0,
            TotalRaised = 0,
            TotalSeeders = 0,
            FundingProgressPercent = 0,
        };

    bool founder = false;
    bool invested = false;
    bool findInProgress = false;
    DateTime currentDate = DateTime.UtcNow;

    private List<string> NostrClients = new();

    protected override async Task OnInitializedAsync()
    {
        NostrClients = _NetworkConfiguration.GetDefaultRelayUrls().Select(_ => _.Url.ToString()).ToList();

        project = storage.GetInvestmentProjects().FirstOrDefault(p => p.ProjectInfo.ProjectIdentifier == ProjectId);

        if (project is InvestorProject findProject)
        {
            invested = findProject.InvestedInProject(); // TODO: need to scan for the invested projects when opening on a new browser
            myProjectExplorerLink = _NetworkConfiguration.GetExplorerUrl().Url + $"/transaction/{findProject.TransactionId}";
        }
        else
        {
            project = storage.GetFounderProjects().FirstOrDefault(p => p.ProjectInfo.ProjectIdentifier == ProjectId);

            if (project != null)
            {
                founder = true;
            }
            else
            {
                project = SessionStorage.GetProjectById(ProjectId);

                if (project == null)
                {
                    findInProgress = true;

                    var projectIndexerData = await _IndexerService.GetProjectByIdAsync(ProjectId);

                    if (projectIndexerData != null)
                    {
                        project = new Project { CreationTransactionId = projectIndexerData.TrxId };
                        _RelayService.RequestProjectCreateEventsByPubKey(e =>
                        {
                            if (project != null)
                            {
                                switch (e)
                                {
                                    case { Kind: NostrKind.Metadata }:
                                        var nostrMetadata = serializer.Deserialize<ProjectMetadata>(e.Content);
                                        project.Metadata ??= nostrMetadata;
                                        break;
                                    case { Kind: NostrKind.ApplicationSpecificData }:
                                        var projectInfo = serializer.Deserialize<ProjectInfo>(e.Content);
                                        project.ProjectInfo ??= projectInfo;
                                        break;
                                }
                            }
                        }, () =>
                        {
                            findInProgress = false;
                            if (project?.ProjectInfo != null)
                            {
                                SessionStorage.StoreProject(project);
                            }
                            else
                            {
                                // Handle case where project info is not available
                                error = "Project not found...";
                            }
                            StateHasChanged();
                        },
                        new[] { projectIndexerData.NostrPubKey });
                    }
                    else
                    {
                        findInProgress = false;
                        error = "Project not found...";
                        StateHasChanged();
                    }
                }
            }
        }

        if (project?.CreationTransactionId != null)
        {
            projectExplorerLink = _NetworkConfiguration.GetExplorerUrl().Url + $"/transaction/{project.CreationTransactionId}";
            await RefreshBalance();
        }
    }

    private async Task RefreshBalance()
    {
        try
        {
            projectStats.Loading = true;

            if (project?.ProjectInfo != null)
            {
                var data = await _IndexerService.GetProjectStatsAsync(project.ProjectInfo.ProjectIdentifier);

                if (data != null)
                {
                    projectStats.TotalInvestors = (int)data.InvestorCount;
                    projectStats.TotalRaised = data.AmountInvested;

                    projectStats.TimeLeft = (project.ProjectInfo.ExpiryDate - DateTime.UtcNow).Days;
                    if (projectStats.TimeLeft < 0)
                        projectStats.TimeLeft = 0;

                    var targetSat = Money.Coins(project.ProjectInfo.TargetAmount).Satoshi;
                    projectStats.FundingProgressPercent = (int)((projectStats.TotalRaised * 100) / targetSat);
                }
            }
        }
        catch (Exception ex)
        {
            notificationComponent.ShowErrorMessage(ex.Message);
        }
        finally
        {
            projectStats.Loading = false;
        }

    }

    private async Task RecoverFunds()
    {
        NavigationManager.NavigateTo($"/recover/{ProjectId}");
    }

    private async Task InvestInProject()
    {
        if (hasWallet)
            NavigationManager.NavigateTo($"/invest/{ProjectId}");
        else
            notificationComponent.ShowNotificationMessage("You must create a wallet if you want to invest");
    }


    private async Task ShowNsecAsync()
    {
        if (!passwordComponent.HasPassword())
        {
            passwordComponent.ShowPassword(async () =>
            {
                await GenerateNsec();
            });
        }
        else
        {
            await GenerateNsec();
        }
    }

    private async Task GenerateNsec()
    {
        isGeneratingNsec = true;
        errorMessage = string.Empty;
        StateHasChanged();

        try
        {
            if (project is FounderProject founderProject)
            {
                var words = await passwordComponent.GetWalletAsync();
                var nostrKey = _derivationOperations.DeriveProjectNostrPrivateKey(words, founderProject.ProjectIndex);
                var nsec = NBitcoin.DataEncoders.Encoders.Hex.EncodeData(nostrKey.ToBytes());
                NostrSecKey = nsec;
                StateHasChanged();
            }
        }
        catch (InvalidOperationException)
        {
            // Handle password error and reset loading state
            HandlePasswordError();
        }
        finally
        {
            isGeneratingNsec = false;
            StateHasChanged();
        }
    }

    private async Task CopyNsecToClipboardAsync()
    {
        if (!string.IsNullOrEmpty(NostrSecKey))
        {
            await _clipboardService.WriteTextAsync(NostrSecKey);
            notificationComponent.ShowNotificationMessage("Copied to clipboard!", 3);
        }
    }

    private async void HandlePasswordError()
    {
        errorMessage = "Incorrect password. Please try again.";
        StateHasChanged();

        // Show error message for a short time before reopening password prompt
        await Task.Delay(2000);

        errorMessage = string.Empty;
        StateHasChanged();

        // Reopen password prompt
        passwordComponent.ShowPassword(async () =>
     {
     isGeneratingNsec = true;
     StateHasChanged();
     await GenerateNsec();
     });
    }

    private async void OpenInBrowseAsync()
    {
        var pubkey = project.ProjectInfo.NostrPubKey;

        if (!string.IsNullOrEmpty(pubkey))
        {
            var url = $"https://browse.angor.io/projects/{pubkey}";

            await Js.InvokeVoidAsync("window.open", url, "_blank");
        }
        else
        {
            notificationComponent.ShowNotificationMessage("Public key is not available.", 3);
        }
    }

    public string StripHtmlTags(string input)
    {
        if (string.IsNullOrWhiteSpace(input))
        {
            return string.Empty;
        }

        input = Regex.Replace(input, @"<script.*?>.*?</script>", string.Empty, RegexOptions.IgnoreCase | RegexOptions.Singleline);

        input = Regex.Replace(input, @"<style.*?>.*?</style>", string.Empty, RegexOptions.IgnoreCase | RegexOptions.Singleline);

        input = Regex.Replace(input, @"<([a-zA-Z][^\s>]*)(\s+[^>]*)?>", match =>
     {
     string tag = match.Groups[1].Value;
     string attributes = match.Groups[2].Value;

     attributes = Regex.Replace(attributes, @"\s+(style|class)\s*=\s*""[^""]*""", string.Empty, RegexOptions.IgnoreCase);

     return $"<{tag}{attributes}>";
     }, RegexOptions.IgnoreCase);

        string allowedTagsPattern = @"<(?!\/?(br|p|a|ul|ol|li|strong|em|b|i|u|hr|blockquote|img|div|span|table|thead|tbody|tr|td|th)\b)[^>]+>";
        input = Regex.Replace(input, allowedTagsPattern, string.Empty, RegexOptions.IgnoreCase);


        return input;
    }

    public MarkupString ConvertToMarkupString(string input)
    {
        string sanitizedInput = StripHtmlTags(input);
        return new MarkupString(sanitizedInput);
    }
}
