@page "/wallet"
@using Blockcore.NBitcoin
@using Angor.Shared
@using Angor.Client.Services
@using Angor.Client.Storage
@using Angor.Shared.Models
@using Angor.Shared.Services
@using Angor.Client.Components
@using Blockcore.Networks

@inject HttpClient _httpClient;
@inject IClientStorage storage;
@inject ICacheStorage _cacheStorage;
@inject IWalletStorage _walletStorage;
@inject ILogger<Wallet> Logger;
@inject IWalletOperations _walletOperations
@inject IClipboardService _clipboardService
@inject IDerivationOperations _derivationOperations
@inject NavMenuState NavMenuState

@inherits BaseComponent

<PageTitle>Wallet and balances</PageTitle>

<div class="container my-4">
    <h1>Wallet and balances</h1>
    
    <NotificationComponent @ref="notificationComponent" />

<!-- This part of the page is visible only if the wallet is found -->
    @if (!hasWallet)
    {
        <!-- No Wallet found -->
        <div class="row mt-4">
            <div class="col">
                <div class="alert alert-info" role="alert">No Wallet Found</div>
                <!-- Adding a button to create a wallet -->
                <button class="btn btn-primary mt-2" @onclick="ShowCreateWalletModal">Create Wallet</button>

            </div>

            @if (walletWordsCreateModal)
            {
                <!-- Wallet Words Create Modal -->
                <div class="modal fade show d-block" >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" >Create Wallet</h5>
                                <button class="btn-close" @onclick="() => { WalletWordsClose(); walletWordsCreateModal = false; }" disabled="@createWalletSpinner"></button>
                            </div>
                            <div class="modal-body modal-body-scroll">

                                @if (createWalletSpinner)
                                {
                                    <div class="d-flex justify-content-center">
                                        <div class="loader"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="mb-3">
                                        <label >Paste your wallet words here or generate a new wallet:</label>
                                        <textarea class="form-control"  rows="3" @bind="newWalletWords"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label >Additional Passphrase (optional):</label>
                                        <input type="text" class="form-control" @bind="newWalletWordsPassphrase"/>
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-primary" @onclick="GenerateNewWalletWords">Generate New Wallet Words</button>
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-success" @onclick="CreateWalletAsync">Create Wallet</button>
                                    </div>
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" @onclick="() => { WalletWordsClose(); walletWordsCreateModal = false; }" disabled="@createWalletSpinner">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <!-- Section 1 -->
        <div class="row mt-4">
            <div class="col">

                <div class="mb-3">
                    <span class="fs-4">Confirmed balance: </span>
                    <span class="fs-3"><strong> @Money.Satoshis(accountBalanceInfo.TotalBalance).ToUnit(MoneyUnit.BTC) @network.CoinTicker</strong></span> <!-- replace this with actual balance -->
                </div>

                @if (accountBalanceInfo.TotalUnconfirmedBalance > 0)
                {
                    <div class="mb-3 text-dark">
                        <span class="fs-6">Unconfirmed balance: </span>
                        <span class="fs-5"> @Money.Satoshis(accountBalanceInfo.TotalUnconfirmedBalance).ToUnit(MoneyUnit.BTC) @network.CoinTicker</span> <!-- replace this with actual unconfirmed balance -->
                    </div>
                }
                
                @if (accountBalanceInfo.TotalBalanceReserved > 0)
                {
                    <div class="mb-3 text-success">
                        <span class="fs-6">Reserved balance: </span>
                        <span class="fs-5"> @Money.Satoshis(accountBalanceInfo.TotalBalanceReserved).ToUnit(MoneyUnit.BTC) @network.CoinTicker</span> 
                    </div>
                }

                <!-- Replace '#' in 'data-bs-target' with the id of your modal -->
                <button type="button" class="btn btn-primary"  @onclick="() => walletWordsModal = true">Show Wallet Words</button>

                <button class="btn btn-primary ml-2" @onclick="RefreshBalance" disabled="@balanceSpinner">
                    @if (balanceSpinner)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span>Refreshing Balance...</span>
                    }
                    else
                    {
                        <span>Refresh Balance</span>
                    }
                </button>
                
                @if (network.NetworkType == NetworkType.Testnet && accountBalanceInfo.TotalBalance < Money.Coins(10).Satoshi)
                {
                    <button class="btn btn-secondary ml-2" @onclick="GetTestCoins" disabled="@testCoinsSpinner">
                        @if (testCoinsSpinner)
                        {
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span>Get some test coins...</span>
                        }
                        else
                        {
                            <span>Get some test coins</span>
                        }
                    </button>
                }
                
            </div>
            
            @if (walletWordsModal)
            {
                <!-- Wallet Words Modal -->
                <div class="modal fade show d-block" >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" >Wallet Words</h5>
                                <button type="button" class="btn-close" @onclick="() => { WalletWordsClose(); walletWordsModal = false; }" aria-label="Close"></button>
                            </div>
                            <div class="modal-body modal-body-scroll">

                                @if (string.IsNullOrEmpty(walletWords))
                                {
                                    <!-- Show words button with warning -->
                                    <div class="mb-3">
                                        <button class="btn btn-warning" @onclick="ShowWords">Show Words</button>
                                        <p class="fs-6 text-danger">Warning: These words can be used to recover your wallet. Keep them safe.</p>
                                    </div>
                                }
                                else
                                {
                                    <!-- Wallet words will be shown here -->
                                    <p>@walletWords</p>

                                    if (!string.IsNullOrEmpty(walletWordsPassphrase))
                                    {
                                        <p>This wallet has a pass phrase!</p>
                                    }

                                    <!-- Copy words to clipboard -->
                                    <div class="mb-3">
                                        <button class="btn btn-danger" @onclick="CopyWordsToClibboard">Copy To clipboard</button>
                                        <p class="fs-6 text-danger">Warning: These words can be used to recover your wallet. Keep them safe.</p>
                                    </div>
                                }

                                <!-- Delete wallet button -->
                                <div class="mb-3">
                                    <button class="btn btn-danger" @onclick="DeleteWallet" >Delete Wallet</button>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" @onclick="() => { WalletWordsClose(); walletWordsModal = false; }" >Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>


        <!-- Section 2 -->
        <div class="row mt-4">
            <div class="col-lg-12">
                <h2>Receive</h2>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 d-flex align-items-center justify-content-between">
                                <div class="address-container-wrapper">
                                    <div class="address-container">
                                        <div class="d-flex align-items-center">
                                            <p class="card-text mb-0">@accountBalanceInfo.AccountInfo.GetNextReceiveAddress()</p>
                                            <button class="btn btn-outline-secondary btn-sm address-copy-button ml-2" @onclick="CopyNextReceiveAddress">
                                                Copy <i class="oi oi-file"></i> 
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                                <ShowQrCode @ref="showQrCode" Data="@accountBalanceInfo.AccountInfo.GetNextReceiveAddress()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Section 3 -->
        <div class="row mt-4">
            <div class="col-md-12">
                <h2 class="mb-3">Send</h2>

                <form>
                    <div class="mb-3">
                        <label for="sendToAddress" class="form-label">Send to Address</label>
                        <input type="text" class="form-control" id="sendToAddress" @bind="_sendInfo.SendToAddress" placeholder="Enter address">
                    </div>

                    <div class="mb-3">
                        <label for="sendAmount" class="form-label">Amount</label>
                        <input type="text" class="form-control" id="sendAmount" @bind="_sendInfo.SendAmount" placeholder="Enter amount">
                    </div>

                    <button type="button" class="btn btn-primary mb-3"  @onclick="() => coinControlModal = true">Coin Control
                        @if (_sendInfo.SendUtxos.Any())
                        {
                            <span class="badge text-bg-warning">@_sendInfo.SendUtxos.Count</span>
                        }
                    </button>
                    
                    <!-- New Send button that triggers a confirmation dialog -->
                    <button type="button" class="btn btn-primary mb-3" @onclick="BuildSend" disabled="@sendLoadSpinner">
                        @if (sendLoadSpinner)
                        {
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span>Sending...</span>
                        }
                        else
                        {
                            <span>Send</span>
                        }
                    </button>

                </form>
            </div>

            @if (coinControlModal)
            {
                <!-- Coin Control Modal -->
                <div class="modal fade show d-block" >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="coinControlModalLabel">Coin Control</h5>
                                <button type="button" class="btn-close" @onclick="() => coinControlModal = false" aria-label="Close"></button>
                            </div>
                            <div class="modal-body modal-body-scroll">
                                <!-- The tick boxes and amounts will go here -->

                                <p>Total amount selected = @Money.Satoshis(_sendInfo.SendUtxos.Sum(s => s.Value.UtxoData.value)).ToUnit(MoneyUnit.BTC) @network.CoinTicker</p>

                                @foreach (var addressInfo in accountBalanceInfo.AccountInfo.AddressesInfo.Union(accountBalanceInfo.AccountInfo.ChangeAddressesInfo))
                                {
                                    @foreach (var addressUtxoItem in addressInfo.UtxoData)
                                    {
                                        bool isTicked = _sendInfo.SendUtxos.ContainsKey(addressUtxoItem.outpoint.ToString());

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" @bind="@isTicked" @onclick="() => HandleCheckboxChange(addressUtxoItem, addressInfo.HdPath)">
                                            <label class="form-check-label" style="font-size: 0.7em;" for="@addressUtxoItem">
                                                @($"{addressUtxoItem.outpoint} - {Money.Satoshis(@addressUtxoItem.value).ToUnit(MoneyUnit.BTC)} {@network.CoinTicker}")
                                            </label>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" @onclick="() => coinControlModal = false">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (sendConfirmModal)
            {
                <!-- Send Confirmation Modal -->
                <div class="modal fade show d-block" >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirmation</h5>
                                <button type="button" class="btn-close" aria-label="Close" @onclick="() => sendConfirmModal = false" disabled="@sendConfirmSpinner"></button>
                            </div>
                            <div class="modal-body modal-body-scroll">
                                Are you sure you want to send <strong>@_sendInfo.SendAmount @network.CoinTicker</strong> to <strong> @_sendInfo.SendToAddress?</strong>

                                <br/>

                               The fee for this transaction will be <strong>@_sendInfo.SendFee</strong>

                                <hr>

                                <div class="mb-3">
                                    <label for="feeRange" class="form-label">Feerate for @_sendInfo.FeeBlockCount blocks is @_sendInfo.FeeRate sats</label>
                                    <input type="range" class="form-range" id="feeRange" @bind="FeePosition" @oninput="FeeRangeChanged" min="@FeeMin" max="@_feeMax">
                                </div>

                                <hr>

                                The change address is <strong>@_sendInfo.ChangeAddress</strong>

                                <br/>

                                The selected inputs:

                                @foreach (var infoSendUtxo in _sendInfo.SendUtxos)
                                {
                                    <p style="font-size: 0.7em;">@Money.Satoshis(infoSendUtxo.Value.UtxoData.value).ToUnit(MoneyUnit.BTC) @network.CoinTicker - @infoSendUtxo.Key</p>
                                }

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" @onclick="() => sendConfirmModal = false" disabled="@sendConfirmSpinner">Cancel</button>
                                <button type="button" class="btn btn-primary" @onclick="SendCoins" disabled="@sendConfirmSpinner">
                                    @if (sendConfirmSpinner)
                                    {
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        <span>Sending...</span>
                                    }
                                    else
                                    {
                                        <span>Confirm</span>
                                    }
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

       


        <!-- Section 4 -->
        <div class="row mt-4">
            <div class="col-md-12">
                <h2 class="mb-3">Addresses and Amounts</h2>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Address</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Path</th>
                            <th scope="col">UTXO count</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var addressInfo in accountBalanceInfo.AccountInfo.AllAddresses())
                        {
                            var total = addressInfo.Balance;
                            var count = addressInfo.UtxoData.Count();

                            if (total > 0)
                            {
                                <tr data-bs-toggle="collapse" class="clickable-row" data-bs-target="#@addressInfo.Address" aria-expanded="false" aria-controls="collapseExample1">
                                    <td>@addressInfo.Address</td>
                                    <td>@Money.Satoshis(total).ToUnit(MoneyUnit.BTC) @network.CoinTicker</td>
                                    <td>@addressInfo.HdPath</td>
                                    <td>@count</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="padding: 0px;">
                                            <div class="collapse" id="@addressInfo.Address">
                                            <div class="card card-body">
                                                <!-- Inner table goes here -->
                                                <table class="table table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Coin</th>
                                                            <th scope="col">Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    @foreach (var addressUtxoItem in addressInfo.UtxoData)
                                                    {
                                                        <tr>
                                                            <td>@($"{addressUtxoItem.outpoint}")</td>
                                                                <td>@Money.Satoshis(addressUtxoItem.value).ToUnit(MoneyUnit.BTC) @network.CoinTicker </td>
                                                        </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    <!-- More rows go here -->
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>



@code {
    
    private bool balanceSpinner = false;
    private bool createWalletSpinner = false;
    private bool testCoinsSpinner = false;
    private bool sendLoadSpinner = false;
    private bool sendConfirmSpinner = false;

    private string? walletWords;
    private string? walletWordsPassphrase;
    private string? newWalletWords;
    private string? newWalletWordsPassphrase;
   
    private bool sendConfirmModal;
    private bool coinControlModal;
    private bool walletWordsModal;
    private bool walletWordsCreateModal;

    private int feeRange = 0;
    private int FeePosition = 1;
    private SendInfo _sendInfo = new ();

    private AccountBalanceInfo accountBalanceInfo = new AccountBalanceInfo();

    private FeeEstimations FeeEstimations = new ();

    // Max index for the range input
    private int FeeMin = 1;
    private int _feeMax = 3;
    DateTime _lastFeeRefresh = DateTime.MinValue;

    ShowQrCode showQrCode;

    protected override Task OnInitializedAsync()
    {
        if (hasWallet)
        {
            var accountInfo = storage.GetAccountInfo(network.Name);
            var unconfirmedInfo = _cacheStorage.GetUnconfirmedInboundFunds();

            accountBalanceInfo.UpdateAccountBalanceInfo(accountInfo, unconfirmedInfo);
        }

        return Task.CompletedTask;
    }
    
    private async Task RefreshBalance()
    {
        balanceSpinner = true;

        try
        {
            var accountInfo = storage.GetAccountInfo(network.Name);
            var unconfirmedInboundFunds = _cacheStorage.GetUnconfirmedInboundFunds();

            await _walletOperations.UpdateDataForExistingAddressesAsync(accountInfo);

            await _walletOperations.UpdateAccountInfoWithNewAddressesAsync(accountInfo);

            storage.SetAccountInfo(network.Name, accountInfo);

            var utxos = accountInfo.AllUtxos()
                .Select(x => x.outpoint.ToString()).ToList();

            var spentToUpdate = unconfirmedInboundFunds
                .RemoveAll(x => utxos.Contains(x.outpoint.ToString()));

            if (spentToUpdate > 0)
                _cacheStorage.SetUnconfirmedInboundFunds(unconfirmedInboundFunds);

            accountBalanceInfo.UpdateAccountBalanceInfo(accountInfo, unconfirmedInboundFunds);

            showQrCode.SetQRCode(accountBalanceInfo.AccountInfo.GetNextReceiveAddress());

        }
        catch (Exception e)
        {
            Logger.LogError(e, e.Message);
            notificationComponent.ShowErrorMessage(e.Message);
        }
        finally
        {
            balanceSpinner = false;
        }
    }

    private async Task ShowCreateWalletModal()
    {
        walletWordsCreateModal = true;
        StateHasChanged();
        await Task.Delay(10);
    }

    private async Task CreateWalletAsync()
    {
        if (string.IsNullOrEmpty(newWalletWords)) throw new ArgumentNullException();

        createWalletSpinner = true;
        StateHasChanged();
        await Task.Delay(10);

        try
        {

            WalletWords data = new WalletWords { Words = newWalletWords, Passphrase = newWalletWordsPassphrase };
            var accountInfo = _walletOperations.BuildAccountInfoForWalletWords(data);
            await _walletOperations.UpdateAccountInfoWithNewAddressesAsync(accountInfo);

            _walletStorage.SaveWalletWords(new Angor.Shared.Models.Wallet { WalletWords = data });
            storage.SetAccountInfo(network.Name, accountInfo);
            accountBalanceInfo.UpdateAccountBalanceInfo(accountInfo, new List<UtxoData>());

            // pre-derive the angor wallet keys 
            FounderKeyCollection founderKeyCollection = _derivationOperations.DeriveProjectKeys(data, NetworkConfiguration.AngorTestKey);
            _walletStorage.SetFounderKeys(founderKeyCollection);

            hasWallet = _walletStorage.HasWallet();
            ClearWalletWords();

            walletWordsCreateModal = false;

            NavMenuState.NotifyStateChanged();
        }
        catch (Exception e)
        {
            Logger.LogError(e, e.Message);
            notificationComponent.ShowErrorMessage(e.Message);
        }
        finally
        {
            createWalletSpinner = false;
        }
    }

    private void ShowWords()
    {
        var data  = _walletStorage.GetWallet().WalletWords;
        walletWords = data.Words;
        walletWordsPassphrase = data.Passphrase;
        StateHasChanged();
    }

    private async Task CopyWordsToClibboard()
    {
        if (string.IsNullOrEmpty(walletWords))
        {
            throw new InvalidOperationException();
        }

        await _clipboardService.WriteTextAsync(walletWords);
        ClearWalletWords();
        StateHasChanged();
    }

    private void ClearWalletWords()
    {
        walletWords = null;
        walletWordsPassphrase = null;
        newWalletWords = null;
        newWalletWordsPassphrase = null;
    }

    private void WalletWordsClose()
    {
        walletWords = null;
    }

    private void DeleteWallet()
    {
        walletWordsModal = false;
        storage.DeleteAccountInfo(network.Name);
        _cacheStorage.DeleteUnconfirmedInfo();
        _walletStorage.DeleteWallet();
        hasWallet = _walletStorage.HasWallet();
        ClearWalletWords();
        StateHasChanged();

        NavMenuState.NotifyStateChanged();
    }

    private void GenerateNewWalletWords()
    {
        newWalletWords = _walletOperations.GenerateWalletWords();
    }

    public  async Task CopyNextReceiveAddress()
    {
        var accountInfo = storage.GetAccountInfo(network.Name);
        var address = accountInfo.GetNextReceiveAddress();

        if (string.IsNullOrEmpty(address))
        {
            notificationComponent.ShowErrorMessage("New address was not created");
            return;
        }

        await _clipboardService.WriteTextAsync(address);
    }

    private async Task RefreshFee()
    {
        // refresh fee if last refresh was 60 seconds ago

        if (_sendInfo.FeeRateSat == 0 || _lastFeeRefresh.AddSeconds(60) < DateTime.UtcNow)
        {
            var fees = await _walletOperations.GetFeeEstimationAsync();

            FeeEstimations.Fees = fees.ToList();

            _feeMax = FeeEstimations.Fees.Count;

            var feeItem = FeeEstimations?.Fees.MinBy(c => c.Confirmations);

            if (feeItem != null)
            {
                _sendInfo.FeeBlockCount = feeItem.Confirmations;
                _sendInfo.FeeRateSat = feeItem.FeeRate;
            }

            _lastFeeRefresh = DateTime.UtcNow;
        }
    }
    
    private async Task BuildSend()
    {
        if (string.IsNullOrEmpty(_sendInfo.SendToAddress))
        {
            notificationComponent.ShowErrorMessage("Specify a send to address");
            return;
        }

        if (_sendInfo.SendAmount == 0)
        {
            notificationComponent.ShowErrorMessage("Specify an amount");
            return;
        }

        sendLoadSpinner = true;
        StateHasChanged();
        await Task.Delay(10);

        try
        {
            var accountInfo = storage.GetAccountInfo(network.Name);

            await _walletOperations.UpdateAccountInfoWithNewAddressesAsync(accountInfo);

            storage.SetAccountInfo(network.Name, accountInfo);
            
            await RefreshFee();

            if (FeeEstimations.Fees.Count == 0)
            {
                notificationComponent.ShowErrorMessage("Unable top calculate fee");
                return;
            }

            // by default select the highest fee
            var estimationsFee = FeeEstimations.Fees.OrderBy(fee => fee.Confirmations).ToList()[0];

            FeePosition = 1;

            _sendInfo.FeeBlockCount = estimationsFee.Confirmations;
            _sendInfo.FeeRateSat = estimationsFee.FeeRate;

            if (string.IsNullOrEmpty(_sendInfo.ChangeAddress))
            {
                _sendInfo.ChangeAddress = accountInfo.ChangeAddressesInfo.First(f => f.HasHistory == false).Address;
            }
            
            _sendInfo.SendFee = _walletOperations.CalculateTransactionFee(_sendInfo, accountInfo, estimationsFee.FeeRate);

            sendConfirmModal = true;
        }
        catch (Exception e)
        {
            Logger.LogError(e, e.Message);
            notificationComponent.ShowErrorMessage(e.Message);
        }
        finally
        {
            sendLoadSpinner = false;
        }
    }

    private async Task SendCoins()
    {
        sendConfirmSpinner = true;
        StateHasChanged();
        await Task.Delay(10);

        try
        {
            var wallet = _walletStorage.GetWallet();
            var accountInfo = storage.GetAccountInfo(network.Name);
            var unconfirmedInfo = _cacheStorage.GetUnconfirmedInboundFunds();

            var res = await _walletOperations.SendAmountToAddress(wallet.WalletWords, _sendInfo);

            if (res.Success)
            {
                var pendingInbound = _walletOperations.UpdateAccountUnconfirmedInfoWithSpentTransaction(accountInfo, res.Data);
                unconfirmedInfo.AddRange(pendingInbound);
                accountBalanceInfo.UpdateAccountBalanceInfo(accountInfo, unconfirmedInfo);
                storage.SetAccountInfo(network.Name, accountInfo);
                _cacheStorage.SetUnconfirmedInboundFunds(unconfirmedInfo);
            }

            _sendInfo = new SendInfo();
            
            notificationComponent.ShowNotificationMessage("Sent complete!");
        }
        catch (Exception e)
        {
            Logger.LogError(e, e.Message);
            notificationComponent.ShowErrorMessage(e.Message);
        }
        finally
        {
            sendConfirmSpinner = false;
            sendConfirmModal = false;
        }
    }

    private void HandleCheckboxChange(UtxoData addressUtxoItem, string hdPath)
    {
        // Here you can handle the change
        // Note: replace AddressUtxoItem with the actual type of addressUtxoItem
        
        if (_sendInfo.SendUtxos.ContainsKey(addressUtxoItem.outpoint.ToString()))
        {
            _sendInfo.SendUtxos.Remove(addressUtxoItem.outpoint.ToString());
        }
        else
        {
            _sendInfo.SendUtxos.Add(addressUtxoItem.outpoint.ToString(), new UtxoDataWithPath { HdPath = hdPath, UtxoData = addressUtxoItem });
        }
    }

    private void FeeRangeChanged(ChangeEventArgs e)
    {
        // Here you can handle the fee range change
        // The new value is in e.Value

        var selected = e.Value?.ToString();

        if (selected != null)
        {
            if (int.TryParse(selected, out int res))
            {
                if (res <= FeeEstimations.Fees.Count)
                {
                    var estimationsFee = FeeEstimations.Fees.OrderBy(fee => fee.Confirmations).ToList()[res - 1];
                   
                    _sendInfo.FeeBlockCount = estimationsFee.Confirmations;
                    _sendInfo.FeeRateSat = estimationsFee.FeeRate;
                    var accountInfo = storage.GetAccountInfo(network.Name);

                    _sendInfo.SendFee = _walletOperations.CalculateTransactionFee(_sendInfo, accountInfo, estimationsFee.FeeRate);
                    
                    StateHasChanged();
                }
            }
        }
    }

    private void showCoinControlModal()
    {
        coinControlModal = true;
        StateHasChanged();
    }

    private async Task GetTestCoins()
    {
        if (Money.Satoshis(accountBalanceInfo.TotalBalance + accountBalanceInfo.TotalUnconfirmedBalance).ToUnit(MoneyUnit.BTC) > 10)
        {
            notificationComponent.ShowNotificationMessage("you already have coins!");
            return;
        }

        testCoinsSpinner = true;

        try
        {
            var receiveAddress = accountBalanceInfo.AccountInfo.GetNextReceiveAddress();

            var res = await _httpClient.GetAsync($"/api/faucet/send/{receiveAddress}");

            if (res.IsSuccessStatusCode)
            {
                var trxhex =  await res.Content.ReadAsStringAsync();
                var trx = network.CreateTransaction(trxhex);
                var unconfirmedInboundFunds = _cacheStorage.GetUnconfirmedInboundFunds();
                unconfirmedInboundFunds.Add(new UtxoData { PendingSpent = true, address = receiveAddress, value = trx.Outputs.FirstOrDefault()?.Value.Satoshi ?? Money.Coins(50).Satoshi, outpoint = new Outpoint(trx.GetHash().ToString(), 0) });
                _cacheStorage.SetUnconfirmedInboundFunds(unconfirmedInboundFunds);
                accountBalanceInfo.UpdateAccountBalanceInfo(accountBalanceInfo.AccountInfo, unconfirmedInboundFunds);
            }
        }
        catch (Exception e)
        {
            Logger.LogError(e, e.Message);
            notificationComponent.ShowErrorMessage(e.Message);
        }
        finally
        {
            testCoinsSpinner = false;
        }
    }
}